@model IEnumerable<Cartoon>

<div class="container-fluid mt-2">
    <div class="bg-primary text-white">
        <h4>Cartoon列表</h4>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>圖片</th>
                <th>Title</th>
                <th>Alt</th>
                <th>排序</th>
                <th>無障礙內容</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cartoon b in Model)
            {
                @await Html.PartialAsync("_CartoonView", b)
            }
        </tbody>
    </table>
    <a asp-action="Save" class="btn btn-primary">新增</a>
</div>