@model Cartoon
@{
    bool IsAdd = Model.Guid == null;
    string CtrlName = IsAdd ? "新增" : "編輯";
}
<div class="container-fluid mt-2">
    <div class="bg-primary text-white">
        <h4>@CtrlName Cartoon</h4>
    </div>
    <form asp-action="Save" method="post" enctype="multipart/form-data">
        <input type="hidden" name="Guid" value="@Model.Guid" />
        <div>
            <img src="@Url.Content(Model.ImgPath)" height="100" />
        </div>
        <div>
            <label asp-for="File"></label>
            <input type="file" name="File" accept="image/gif,image/png,image/jpg,image/jpeg" />
            <div><span asp-validation-for="File" class="text-danger"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <div><span asp-validation-for="Title" class="text-danger"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="Alt"></label>
            <input asp-for="Alt" class="form-control" />
            <div><span asp-validation-for="Alt" class="text-danger"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="H2"></label>
            <input asp-for="H2" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Sort"></label>
            <input asp-for="Sort" class="form-control" />
            <div><span asp-validation-for="Sort" class="text-danger"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="Accessibility"></label>
            <textarea asp-for="Accessibility" id="Body" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="@CtrlName" />
        </div>
    </form>
    <a asp-action="CartoonList" class="btn btn-secondary">回Cartoon列表</a>
</div>
@section scripts{
    <script src="https://cdn.ckeditor.com/4.12.1/full/ckeditor.js"></script>
    <script type="text/javascript">

        //CKEDITOR.replace('Body');
        CKEDITOR.replace('Body', {
            removeDialogTabs: 'image:advanced;image:Link;link:advanced;link:upload',
            removeButtons: "Scayt,Flash,Smiley,PageBreak,Save,Print,Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,Language,Iframe,About,Templates,Preview,NewPage", // 不要的按鈕
            height: 350,
            filebrowserImageUploadUrl: '/Upload/UploadImage/',
            filebrowserWindowWidth: '640',
            filebrowserWindowHeight: '300'
        });

    </script>
}