<link href="~/_x/css/menu.css" rel="stylesheet">


<nav class="col-md-2">

    <div class="text-center">
        <button class="navbar-toggler d-md-none" style="width:100%" type="button" data-toggle="collapse" data-target="#leftmenu" aria-controls="EnergystarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only-focusable " style="color:aliceblue"><i style="font-size:20px;">&equiv;</i>&emsp; 能源之星子選單</span>
        </button>
    </div>

    <ul class=" collapse list-group d-md-block" id="leftmenu">
        <li class="list-group-item ccis_li_root"><a href="~/energystar/plan">能源之星標章計畫</a></li>

        <li class="list-group-item ccis_li_root"><a href="~/energystar/apply">能源之星標章申請</a></li>

        <li class="list-group-item ccis_li_root "><a href="~/energystar/corporation">能源標章產品資訊</a></li>
        <li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="~/energystar/corporation">標章廠商</a></li>
                <li><a href="~/energystar/search">產品搜尋</a></li>
            </ul>
        </li>
        <li class="list-group-item ccis_li_root "><a href="~/energystar/question">常見問答</a> </li>
        <li class="list-group-item  ccis_li_root "><a style="color:aliceblue">國際合作夥伴網站</a> </li>
        <li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="https://www.energystar.gov/" title="另開新視窗(美國能源之星)" target="_blank">美國</a></li>
                <li><a href="https://www.energystar.go.jp/" title="另開新視窗(日本能源之星)" target="_blank">日本</a></li>
                <li><a href="https://www.nrcan.gc.ca/home" title="另開新視窗(Natural Resources Canada)" target="_blank">加拿大</a></li>
            </ul>
        </li>
    </ul>
</nav>