
@*@{
    ViewData["Title"] = "_List2";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}*@


<img class="mb-3" style="width:100%; max-width:743px" src="~/_x/img/newsbanner0223b.jpg" />
<ul class="unstyled DataList">
    <li>
      
        <a href="~/News/NationalNews">
            ＞&nbsp;2019-02-15<span>時間不多了！力抗暖化 英國數千學生為未來罷課上街</span>
        </a>
    </li>
    @*<hr>
    <li>
        <a href="~/News/Detail">
            ＞&nbsp;2019-01-11<span>廢棄物掩埋場的循環商機—沼氣發電</span>
        </a>
    </li>*@
</ul>