@*@{
        ViewData["Title"] = "_List3";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }*@


<img class="mb-3" style="width:100%; max-width:743px" src="~/_x/img/附圖二環境季banner.png" alt="2019環境季" title="2019環境季(與野共生永續環境)" />
<ul class="unstyled DataList">
    <li>
       <h3><a href="https://www.accupass.com/event/1911061501351949686240" title="另開新視窗(臺灣氣候行動研討會)" target="_blank">＞&nbsp;2019/11/19(已結束)<span>臺灣氣候行動研討會</span></a></h3> 
    </li>
    <hr>
    <li>
        <h3><a href="https://www.earthday.org.tw/donate/7124" title="另開新視窗(2019 地球日系列活動)" target="_blank">＞&nbsp;至2019/05/25(已結束)<span>2019 地球日系列活動</span></a></h3>
    </li>
    <hr>
    <li>
       <h3><a href="https://www.epa.gov.tw/ED/2F5C417C1E18A440/ca0c9fcc-2024-4342-8185-78b21ef44918" title="另開新視窗(019環境季 與野共生永續環境_環境季系列活動)" target="_blank">＞&nbsp;至2019/04/09(已結束)<span>2019環境季 與野共生永續環境(環境季系列活動)</span></a></h3>
    </li>
    <hr>
</ul>