@*<img class="mb-3" style="width:100%; max-width:800px" src="~/_x/img/Sreach.png" />*@



<a href="~/news/DomesticNewsList3"><img class="mb-3" style="width:100%; max-width:743px" src="~/_x/img/newsbanner0223b.jpg" /></a>

<ul class="unstyled DataList">
    <li>
        <a href="~/News/DomesticNewsList3">
            ＞&nbsp;2019-01-20<span>COP24會議三大任務勉強達標</span>
        </a>
    </li>
    <hr>
    <li>
        <a href="~/News/Detail">
            ＞&nbsp;2019-01-11<span>廢棄物掩埋場的循環商機—沼氣發電</span>
        </a>
    </li>
    @*<hr>
            <li>
                <a href="~/News/DomesticNewsList3">
                    ＞&nbsp;2019-01-11<span>聯合國氣候變化綱要公約大會　蔡總統：氣候變遷台灣願幫忙</span>
        </a>
            </li>
            <hr>*@
    @*<li>
                <a href="~/News/DomesticNewsList4">
                    ＞&nbsp;2019-01-11<span>史無前例！北台灣首次大規模珊瑚白化</span>
        </a>
            </li>*@
    @*<hr>
            <li>
                <a href="~/News/Detail">
                    ＞&nbsp;2019-01-11<span>綠色蛟龍盤據 守護虎山里綠地</span>
        </a>
            </li>
            <hr>
            <li>
                <a href="~/News/Detail">
                    ＞&nbsp;2019-01-11<span>濕地保育行動者〜台南市二行社區</span>
        </a>
            </li>
            <hr>
            <li>
                <a href="~/News/Detail
                    ＞&nbsp;2019-01-11<span>推動低碳共餐活動〜澎湖縣南寮社區</span>
        </a>
            </li>
            <hr>
            <li>
                <a href="~/News/Detail">
                    ＞&nbsp;2019-01-11<span>相揪來畫社區綠地圖</span>
                </a>
            </li>*@
</ul>
