<table class="table  table-hover " id="myTable">
    <thead sstyle="border-collapse: separate;">
        <tr style=" border-collapse: separate;">
            <th scope="col" class="text-center table-dark" style="border-top-left-radius :7px;" width="110px">序號</th>
            <th scope="col" style="background-color : #90b71e;color:white; border-top-right-radius:7px;">連 結 網 站 名 稱</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="table-success text-center">1</th>
            <td>
                <a href="http://www.adaptation-platform.nies.go.jp" title="另開新視窗( A-PLAT気候変動適応情報プラットフォーム)" target="_blank">
                    A-PLAT気候変動適応情報プラットフォーム
                </a>
                <hr>
                <spna>日本気候変動適応情報プラットフォーム是由日本環境省委託國家環境研究所營運，其與政府相關部門合作，提供政府、企業與個人相關工具與資訊，蒐集並提供好的調適措施，作為利害關係人調適行動的基礎。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">2</th>
            <td>
                <a href="http://www.climateaction.org/" title="另開新視窗(Climate Action)" target="_blank">
                    Climate Action
                </a>
                <hr>
                <spna>英國Climate Action成立於2007年，其在商業、政府與公共機構的資助下成立，作為全球氣候變遷的媒體與活動平台，利害關係人可藉此平台分享知識、技術與專業，並為氣候變遷的挑戰找出創新的解決方案。</spna>
            </td>
        </tr>

        <tr>
            <th class="table-success text-center">3</th>
            <td>
                <a href="https://climateatlas.ca/climate-change-basics" title="另開新視窗(Climate Atlas of Canada)" target="_blank">
                    Climate Atlas of Canada
                </a>
                <hr>
                <spna>加拿大《Climate Atlas》結合氣候科學，地圖和知識，包含加拿大各城市氣候變遷資訊。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">4</th>
            <td>
                <a href="https://www.theccc.org.uk/" title="另開新視窗(Committee on Climate Change（CCC）)" target="_blank">
                    Committee on Climate Change（CCC）
                </a>
                <hr>
                <spna>Committee on Climate change根據英國Climate act法案設立之獨立機構，目標向英國政府。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">5</th>
            <td>
                <a href="https://climate-adapt.eea.europa.eu/" title="另開新視窗(European Climate Adaptation Platform Eu_Climate-ADAPT)" target="_blank">
                    European Climate Adaptation Platform (Eu Climate-ADAPT)
                </a>
                <hr>
                <spna>Eu Climate-ADAPT旨在支援歐洲氣候變遷調適，協助使用者取得並分享氣候變遷相關訊息，包括歐洲氣候變遷的預測、區域與部門現況與未來的脆弱度、調適的案例研究與潛在的調適方案、支援氣候變遷調適規劃的工具等。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">6</th>
            <td>
                <a href="https://www.iclei.org/" title="另開新視窗(International Council for Local Environmental Initiatives_ICLEI)" target="_blank">
                    International Council for Local Environmental Initiatives (ICLEI)
                </a>
                <hr>
                <spna>ICLEI成立於1990年，成員來自70個國家，代表全球約4億人口執行並發展各項專案活動在保護諸如空氣品質，氣候和水資源等全球共同利益，同時提倡地區永續發展</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">7</th>
            <td>
                <a href="https://www.ipcc.ch/" title="另開新視窗( Intergovernmental Panel on Climate Change_IPCC)" target="_blank">
                    Intergovernmental Panel on Climate Change (IPCC)
                </a>
                <hr>
                <spna>IPCC是由聯合國氣象組織(WMO)與環境規劃署(UNEP)於1988年建立，對聯合國和WMO全體會員開放，也是彙整氣候變遷相關資訊的權威機構。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">8</th>
            <td>
                <a href="https://www.nasa.gov/" title="另開新視窗(National Aeronautics and Space Administration_ NASA)" target="_blank">
                    National Aeronautics and Space Administration (NASA)
                </a>
                <hr>
                <spna>NASA全球氣候變遷網站的使命在於向民眾提供有關地球氣候變遷精確與及時的新聞與資訊，提供相關的數據並將其視覺化表達，而這些都是NASA持續關注世界氣候變遷的獨家視角。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">9</th>
            <td>
                <a href="http://www.kennisvoorklimaat.nl/" title="另開新視窗(Knowledge for Climate)" target="_blank">
                    Knowledge for Climate
                </a>
                <hr>
                <spna>荷蘭Knowledge for Climate為基礎設施與環境部贊助，起因為氣候相關的研究需求，提供知識擴散與轉移的服務，其涵蓋八大研究主題，包括洪水風險管理、氣候不侵(climate proof)城市、治理與政策工具等，其所開發的知識許多已獲得實踐。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">10</th>
            <td>
                <a href="https://www.noaa.gov/" title="另開新視窗(National Oceanic & Atomspheric Administration_NOAA)" target="_blank">
                    National Oceanic & Atomspheric Administration (NOAA)
                </a>
                <hr>
                <spna>美國國家海洋和大氣管理局NOAA提供科學知識與資訊，協助大眾了解如何去面臨氣候相關的風險與機會，該網站提供即時、權威科學數據與氣候變遷資訊來源，而氣候變遷教育網則希望傳遞氣候科學知識，提供教師許多課程教材、多媒體資源，以利學習活動的進行。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">11</th>
            <td>
                <a href="https://en.unesco.org/themes/education" title="另開新視窗(United Nations Educational, Scientific and Cultural Organization_UNESCO)" target="_blank">
                    United Nations Educational, Scientific and Cultural Organization (UNESCO)
                </a>
                <hr>
                <spna>聯合國教科文組織為協助各國減緩與氣候變遷調適工作，在科學、教育文化與傳播領域上，提供30多個方案，據以協助建立氣候變遷的知識、教育與交流。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">12</th>
            <td>
                <a href="https://unfccc.int/" title="另開新視窗(United Nations Framework Convention on Climate Change（UNFCCC）)" target="_blank">
                    United Nations Framework Convention on Climate Change（UNFCCC）
                </a>
                <hr>
                <spna>聯合國氣候變遷綱要公約成立於1992年，並隨著京都議定書及巴黎協定通過，UNFCCC秘書處負責支持全球應對氣候變遷，除各項協議外，也提供全球氣候變遷新聞、會議活動、氣候行動等資訊。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">13</th>
            <td>
                <a href="https://www.yaleclimateconnections.org/" title="另開新視窗(YALE Climate Connections)" target="_blank">
                    YALE Climate Connections
                </a>
                <hr>
                <spna>YALE Climate Connections是一個提供多媒體服務網站，通過文章、廣播故事、影片與線上研討會，評論與分析氣候變遷議題，主題涵蓋氣候變遷、能源、極端氣候、公共衛生、食物與水等議題，旨在幫助民眾與組織了解氣候變遷對生活的影響，協助利害關係人互相學習，努力降低氣候風險。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">14</th>
            <td>
                <a href="https://www.wwf.org.uk/learn/effects-of/climate-change" title="另開新視窗(World Widelife Fund for Nature（WWF）)" target="_blank">
                    World Widelife Fund for Nature（WWF）
                </a>
                <hr>
                <spna>世界自然基金會是全球最大的獨立非政府環境保護組織，目標是制止並最終扭轉地球自然環境的加速惡化。WWF提供氣候變遷影響、海洋、森林和生物等等相關資訊。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">15</th>
            <td>
                <a href="https://www.conservation.org/priorities/climate-change" title="另開新視窗(CONSERVATION INTERNATIONAL)" target="_blank">
                    CONSERVATION INTERNATIONAL
                </a>
                <hr>
                <spna>CONSERVATION INTERNATIONAL是總府設於美國華盛頓的非政府環保組織，主要保護最迫切生態地區，此外也提供氣候變遷中人類與自然新聞及行動，包含相關科學事實。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">16</th>
            <td>
                <a href="https://www.iisd.org/" title="另開新視窗(International Institute for Sustainable Development (IISD))" target="_blank">
                    International Institute for Sustainable Development (IISD)
                </a>
                <hr>
                <spna>IISD為國際永續發展研究所，致力於解決地球永續問題，推動全球穩定氣候與公平。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">17</th>
            <td>
                <a href="https://www.climatechangenews.com/" title="另開新視窗(CLIMATE HOME NEWS)" target="_blank">
                    CLIMATE HOME NEWS
                </a>
                <hr>
                <spna>CLIMATE HOME NEWS是英國獨立的氣候變遷新聞網站，負責全球範圍的氣候變遷政治、經濟、社會等深度報導。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">18</th>
            <td>
                <a href="https://climatechange.ucdavis.edu/" title="另開新視窗(Science&Climate)" target="_blank">
                    Science&Climate
                </a>
                <hr>
                <spna>Science&Climate是UC DAVIS提供氣候變遷在地資訊、衝擊、定義、解決方法以及專家學者等建議，包括氣候預測模式、氣候新聞等。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">19</th>
            <td>
                <a href="https://www.iucn.org/theme/climate-change" title="另開新視窗(International Union for Conservation of Nature（IUCN))" target="_blank">
                    International Union for Conservation of Nature（IUCN)
                </a>
                <hr>
                <spna>ICUN國際自然保護聯盟由政府和民間機構組成，致力於保護自然生態多樣性，提供氣候變遷相關文獻簡述、數據以及行動。</spna>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">20</th>
            <td>
                <a href="https://whc.unesco.org/en/climatechange/" title="另開新視窗(UNESCO-Climate Change and World Heritage)" target="_blank">
                    UNESCO-Climate Change and World Heritage
                </a>
                <hr>
                <spna>聯合國教育、科學與文化組織氣候變遷對世界遺產的影響提供諮詢服務。</spna>
            </td>
        </tr>
    </tbody>

</table>

<script>
        $(function () {          
            $('.table').DataTable({
                 //"bPaginate": false, // 顯示換頁
                "searching": false, // 顯示搜尋
                //"info": false, // 顯示資訊
                //"fixedHeader": false, // 標題置頂
                "iDisplayLength": 10,
               "ordering": false,
                "language": { "url": "@Url.Content("~/_x/plugins/datatables/Chinese-traditional.json")" },
            });
        });

</script>
