
<table class="table  table-hover " id="myTable" >
    <thead>
        <tr>
            <th scope="col" class="text-center table-dark" style="border-top-left-radius :7px;">序號</th>
            <th scope="col" style="background-color: #90b71e;color:white; border-top-right-radius:7px;">連 結 網 站 名 稱</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="table-success text-center">1</th>
            <td>
                <a href="http://e-info.org.tw/&#10;" title="另開新視窗(環境資訊中心)" target="_blank">環境資訊中心</a>
            </td>
        </tr>
        <tr>
            <th class="table-success text-center">2</th>
            <td><a href="http://lowestc.blogspot.tw/&#10;" title="另開新視窗(低碳生活部落格)" target="_blank">低碳生活部落格</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">3</th>
            <td><a href="http://www.rchss.sinica.edu.tw/CRSA-T/brow.php?id=11&amp;fid=2" title="另開新視窗(中華民國區域科學學會)" target="_blank">中華民國區域科學學會</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">4</th>
            <td><a href="https://ghgregistry.epa.gov.tw/" title="另開新視窗(國家溫室氣體登錄平台)" target="_blank">國家溫室氣體登錄平台</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">5</th>
            <td><a href="https://unfccc.saveoursky.org.tw/2014nir/" title="另開新視窗(推動臺灣參與氣候變化綱要公約)" target="_blank">推動臺灣參與氣候變化綱要公約</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">6</th>
            <td><a href="https://ghgregistry.epa.gov.tw/city/" title="另開新視窗(城市層級溫室氣體碳揭露服務平台)" target="_blank">城市層級溫室氣體碳揭露服務平台</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">7</th>
            <td><a href="~/Link/Perseverance" title="另開新視窗(低碳永續家園資訊網)" target="_blank">低碳永續家園資訊網</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">8</th>
            <td><a href="https://www.epa.gov.tw/Page/862D17966103A94E" title="另開新視窗(溫室氣體減量管制)" target="_blank">溫室氣體減量管制</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">9</th>
            <td><a href="https://ecolife.epa.gov.tw/" title="另開新視窗(Ecolife清淨家園顧厝邊綠色生活網)" target="_blank">Ecolife清淨家園顧厝邊綠色生活網</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">10</th>
            <td><a href="~/Link/Greenlife" title="另開新視窗(綠色生活資訊網)" target="_blank">綠色生活資訊網</a></td>
        </tr>

        <tr>
            <th class="table-success text-center">11</th>
            <td><a href="https://tccip.ncdr.nat.gov.tw/" title="另開新視窗(科技部-臺灣氣候變遷推估資訊與調適知識平臺)" target="_blank">科技部-臺灣氣候變遷推估資訊與調適知識平臺</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">12</th>
            <td><a href="http://taiccat.ncu.edu.tw/main.php" title="另開新視窗(科技部-臺灣氣候變遷調適科技知識平臺)" target="_blank">科技部-臺灣氣候變遷調適科技知識平臺</a></td>
        </tr>

        <tr>
            <th class="table-success text-center">13</th>
            <td><a href="http://cclics.rcec.sinica.edu.tw/index.php" title="另開新視窗(科技部-氣候變遷研究聯盟)" target="_blank">科技部-氣候變遷研究聯盟</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">14</th>
            <td><a href="http://sdl.ae.ntu.edu.tw/TaiCATS/" title="另開新視窗(科技部-台灣氣候調適科技服務平臺)" target="_blank">科技部-台灣氣候調適科技服務平臺</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">15</th>
            <td><a href="http://dmip.tw/Lthree/2017/index.aspx" title="另開新視窗(科技部-災害管理資訊研發平臺)" target="_blank">科技部-災害管理資訊研發平臺</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">16</th>
            <td><a href="https://dmap.ncdr.nat.gov.tw/" title="另開新視窗(科技部-災害潛勢地圖網站)" target="_blank">科技部-災害潛勢地圖網站</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">17</th>
            <td><a href="https://dra.ncdr.nat.gov.tw/" title="另開新視窗(科技部-氣候變遷災害風險調適平台)" target="_blank">科技部-氣候變遷災害風險調適平台</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">18</th>
            <td><a href="https://www.go-moea.tw/" title="另開新視窗(經濟部-溫室氣體減量資訊網)" target="_blank">經濟部-溫室氣體減量資訊網</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">19</th>
            <td><a href="https://ghg.tgpf.org.tw" title="另開新視窗(經濟部工業局-產業節能減碳資訊網)" target="_blank">經濟部工業局-產業節能減碳資訊網</a></td>
        </tr>
        @*<tr>
            <th class="table-success text-center">20</th>
            <td><a href="http://demosite.sinotech-eng.com/CCKMV2/" title="另開新視窗(經濟部水利署-氣候變遷水環境知識庫)" target="_blank">經濟部水利署-氣候變遷水環境知識庫</a></td>
        </tr>*@
        <tr>
            <th class="table-success text-center">20</th>
            <td><a href="https://www.wcis.org.tw/" title="另開新視窗(經濟部水利署-節約用水資訊網)" target="_blank">經濟部水利署-節約用水資訊網</a></td>
        </tr>

        <tr>
            <th class="table-success text-center">21</th>
            <td><a href="https://www.cwb.gov.tw/V7/climate/climate_info/climate_change/change_1.html" title="另開新視窗(交通部氣象局-氣候變遷專區)" target="_blank">交通部氣象局-氣候變遷專區</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">22</th>
            <td><a href="https://climatechange.tw" title="另開新視窗(教育部-氣候變遷教學資訊平臺)" target="_blank">教育部-氣候變遷教學資訊平臺</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">23</th>
            <td><a href="http://disaster.moe.edu.tw/safecampus/main/Knowledge_Climate_Scale.aspx" title="另開新視窗(教育部-防減災及氣候變遷調適教育資訊網)" target="_blank">教育部-防減災及氣候變遷調適教育資訊網</a></td>
        </tr>
        <tr>
            <th class="table-success text-center">24</th>
            <td><a href="http://www.rcec.sinica.edu.tw/" title="另開新視窗(中研院-環境變遷研究中心)" target="_blank">中研院-環境變遷研究中心</a></td>
        </tr>



    </tbody>
</table>

<script>

          $(function () {          
            $('.table').DataTable({
                 //"bPaginate": false, // 顯示換頁
                "searching": false, // 顯示搜尋
                //"info": false, // 顯示資訊
                //"fixedHeader": false, // 標題置頂
                "iDisplayLength": 10,
               "ordering": false,
                "language": { "url": "@Url.Content("~/_x/plugins/datatables/Chinese-traditional.json")" },
            });
        });
        //$(function () {
        //    $('#myTable').DataTable({
        //        //"bPaginate": false, // 顯示換頁
        //        "searching": false, // 顯示搜尋
        //        //"info": false, // 顯示資訊
        //        //"fixedHeader": false, // 標題置頂
        //        "iDisplayLength": 10,
        //        "language":{                       
        //                   "lengthMenu": "顯示 _MENU_ 項結果",
        //                   "zeroRecords": "沒有符合的結果",
        //                   "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
        //                   "infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
        //                   "infoFiltered": "(從 _MAX_ 項結果中過濾)",
        //                   "infoPostFix": "",
        //                   "search": "搜尋:",
        //                   "paginate": {
        //                        "first": "第一頁",
        //                        "previous": "上一頁",
        //                        "next": "下一頁",
        //                        "last": "最後一頁"
        //                      },
        //                   }
        //    });
        //});
</script>
