<link href="~/_x/css/menu.css" rel="stylesheet">
<nav class="col-md-2 d-none d-md-block sidebar">
    <ul class="list-group" id="leftmenu">
        <li class="list-group-item"><a href="~/link/index/國內連結">國內連結</a></li>
        <li class="list-group-item"><a href="~/link/index/國外連結">國外連結</a></li>
    </ul>
</nav>