@*@{
        string name = ViewData["name"].ToString();
    }*@

<div style="text-align:center">
    <svg id="ActMap" width="60%" viewBox="0 0 1000 780" version="1.1">
        <title>減緩及調適因應作為</title>
        <image style="overflow:visible;" xlink:href="@Url.Content("/_x/img/Act/act01_0.jpg")"></image>
        <g>
            <a xlink:href="/act/index/溫室氣體減緩策略#104" xlink:title="「溫室氣體減量及管理法」公布施行">
                <circle cx="178" cy="446" r="40"></circle>
            </a>
        </g>
        <g>
            <a xlink:href="/act/index/溫室氣體減緩策略#106" xlink:title="呼應全球減碳行動，逐期落實減碳目標">
                <circle cx="518" cy="446" r="40"></circle>
            </a>
        </g>
        <g>
            <a xlink:href="/act/index/溫室氣體減緩策略#107" xlink:title="擬訂國家減碳政策，六大部門共同承擔">
                <circle cx="690" cy="446" r="40"></circle>
            </a>
        </g>
        <g>
            <a xlink:href="/act/index/溫室氣體減緩策略#108" xlink:title="凝聚地方政府及民間量能，持續強化減碳工作">
                <circle cx="857" cy="446" r="40"></circle>
            </a>
        </g>
    </svg>
</div>

@Html.Raw(@ViewBag.Html)
@*
<div class="text-center my-1">
    <button class="btn btn-info m-2" onclick="img1()" title="圖片詳細說明">圖片詳細說明</button>
    <div id="img1" style="display:none">
        104年7月1日公佈施行溫室氣體減量與管理法。106年2月核定國家因應氣候變遷行動綱領。107年3月核定溫室氣體減量推動方案，10月核定部門溫室氣體排放管制行動方案，108年8月核定縣(市)政府溫室氣體管制執行方案。
    </div>
</div>
    <h3 id="104">「溫室氣體減量及管理法」公布施行</h3>
    <p>環保署於95年率先提出開發中國家第一個「溫室氣體減量法（草案）」，歷經近10年努力不懈的溝通與協商，終於在104年6月15日經立法院三讀通過「溫室氣體減量及管理法」（以下簡稱溫管法<a href="/act/index/溫室氣體減緩策略#infolink1" alt="點擊移至詳細連結點" title="點擊移至詳細連結點"><sup>1</sup></a>），104年7月1日總統令公布施行，自此臺灣正式邁入減碳新時代。溫管法是我國第一部明確授權政府因應氣候變遷的法律，明定我國溫室氣體長期減量目標為139年（西元2050年）溫室氣體排放量降為94年（西元2005年）溫室氣體排放量50%以下，並搭配具經濟誘因的管理措施，逐步建立從免費核配到有價配售的總量管制與交易制度，未來將以減緩、調適及教育宣導3大主軸，推動臺灣因應氣候變遷的具體作為。</p>

    <h3 id="106">呼應全球減碳行動，逐期落實減碳目標</h3>
    <p>「國家因應氣候變遷行動綱領<a href="/act/index/溫室氣體減緩策略#infolink2" alt="點擊移至詳細連結點" title="點擊移至詳細連結點"><sup>2</sup></a>」是依溫管法第9條第1項訂定，作為宣示我國因應氣候變遷的政策方向，內容涵蓋我國推動溫室氣體減緩及氣候變遷調適政策的總方針，期能逐步健全我國面對氣候變遷調適能力，並致力達成我國溫室氣體長期減量目標，以確保國家永續發展。</p>

    <div class="text-center mb-3">
        <img src="~/_x/img/Act/act01_2.jpg" alt="國家因應氣候變遷行動綱領" title="國家因應氣候變遷行動綱領更包含調適與減緩，調適包括維生基礎設施韌性、國土安全整合管理、水資源供需平衡及效能、能源供給調適能力等。減緩包括低碳運輸、永續建築、永續農業減少溫室氣體排放等等。" />
    </div>
    <div class="text-center my-1">
        <button class="btn btn-info m-2" onclick="img2()" title="圖片詳細說明">圖片詳細說明</button>
        <div id="img2" style="display:none">
            國家因應氣候變遷行動綱領更包含調適與減緩，調適包括維生基礎設施韌性、國土安全整合管理、水資源供需平衡及效能、能源供給調適能力等。減緩包括低碳運輸、永續建築、永續農業減少溫室氣體排放等等。
        </div>
    </div>
    <h3 id="107">擬訂國家減碳政策，六大部門共同承擔</h3>
    <p>「溫室氣體減量推動方案<a href="/act/index/溫室氣體減緩策略#infolink3" alt="點擊移至詳細連結點" title="點擊移至詳細連結點"><sup>3</sup></a>」依溫管法第9條第1項規定擬訂，作為行動綱領具體內容，包括階段管制目標、推動期程、推動策略、預期效益及管考機制等項目。由能源、製造、運輸、住商、農業及環境等六大部門共同承擔減碳責任，持續整合跨部會量能，滾動檢討以逐步精進溫室氣體排放減量工作。</p>

    <div class="text-center mb-3">
        <img src="~/_x/img/Act/act01_3.jpg" alt="推動方案" title="溫室氣體減量推動方案內涵是社會永續、經濟永續及環境永續三者環環相扣。" />
    </div>
    <div class="text-center my-1">
        <button class="btn btn-info m-2" onclick="img3()" title="圖片詳細說明">圖片詳細說明</button>
        <div id="img3" style="display:none">
            溫室氣體減量推動方案內涵是社會永續、經濟永續及環境永續三者環環相扣。
        </div>
    </div>


    <p>「溫室氣體排放管制行動方案 <a href="/act/index/溫室氣體減緩策略#infolink4" alt="點擊移至詳細連結點" title="點擊移至詳細連結點"><sup>4</sup></a>」依溫管法第9條第3項規定，擬定能源、製造、運輸、住商、農業及環境六大部門別減量策略，明確劃分中央各部會在溫室氣體減量及能力建構推動事項上的權責分工，整合跨部會量能共同推動減碳工作，以每五年滾動檢討強化來逐期達成減碳目標。</p>

    <div class="text-center mb-3">
        <img src="~/_x/img/Act/act01_4.jpg" alt="部門別溫室氣體排放管制行動方案" title="溫室氣體排放管制行動方案擬定能源、製造、運輸、住商、農業及環境六大部門別減量策略。" />
    </div>
    <div class="text-center my-1">
        <button class="btn btn-info m-2" onclick="img4()" title="圖片詳細說明">圖片詳細說明</button>
        <div id="img4" style="display:none">
            能源、製造、運輸、住商、農業及環境六大部門溫室氣體排放管制行動方案，其內容包括溫室氣體排放管制目標、推動期程及推動策略及措施等。
        </div>
    </div>
    <h3 id="108">凝聚地方政府及民間量能，持續強化減碳工作</h3>

    <p>「溫室氣體管制執行方案」依溫管法第15條規定，直轄市、縣（市）主管機關應依推動方案及部門行動方案，依據地方特色、排放結構，訂修溫室氣體管制執行方案，報請中央主管機關會商中央目的事業主管機關後核定。執行方案內容依據溫管法施行細則第14條第2項規定，包括下列項目：現況分析、方案目標、推動期程、推動策略（包括主協辦機關及經費編列）、預期效益及管考機制等。</p>
    <p>因此，環保署彙整各部門行動方案下之中央與地方協力合作事項，並提供溫室氣體管制執行方案撰擬參考資料，以作為直轄市、縣（市）主管機關研訂執行方案之參考。</p>

    <div class="text-center mb-3">
        <img src="~/_x/img/Act/act01_5.jpg" alt="溫室氣體管制執行方案" title="溫室氣體管制執行方案依據地方特色、排放結構，訂修溫室氣體管制執行方案，包括現況分析、方案目標、推動期程、推動策略、預期效益及管考機制等。" />
    </div>

    <div class="text-center my-1">
        <button class="btn btn-info m-2" onclick="img5()" title="圖片詳細說明">圖片詳細說明</button>
        <div id="img5" style="display:none">
            溫室氣體管制執行方案依據地方特色、排放結構，訂修溫室氣體管制執行方案，包括現況分析、方案目標、推動期程、推動策略、預期效益及管考機制等。
        </div>
    </div>

    <ul>

        資料來源：
        <li>[1] <a id="infolink1" href="https://ghgrule.epa.gov.tw/greenhouse/greenhouse_page/23" target="_blank" title="另開視窗(溫管法)">溫管法</a></li>
        <li>[2] <a id="infolink2" href="https://ghgrule.epa.gov.tw/action/action_page/50" target="_blank" title="另開視窗(國家因應氣候變遷行動綱領)">國家因應氣候變遷行動綱領</a></li>
        <li>[3] <a id="infolink3" href="https://ghgrule.epa.gov.tw/action/action_page/51" target="_blank" title="另開視窗(溫室氣體減量推動方案)">溫室氣體減量推動方案</a></li>
        <li>[4] <a id="infolink4" href="https://ghgrule.epa.gov.tw/action/action_page/52" target="_blank" title="另開視窗(部門溫室氣體排放管制行動方案)">部門溫室氣體排放管制行動方案</a></li>
    </ul>*@

<div class=" text-right my-3">
    @*判斷是否已經登入*@
    @if (User.Identity.IsAuthenticated)
    {
        //判斷登入角色,符合角色則顯示按鈕進入後台
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-danger text-center" href="~/info/Edit/@ViewBag.id">編輯</a>
        }

    }
</div>
<script>
    //function a104() {

    //    if (document.body.clientWidth < 1240) {
    //        $('html,body').animate({ scrollTop: $('#104').offset().top - 10 }, 500);
    //    }
    //    else {

    //        $('html,body').animate({ scrollTop: $('#104').offset().top - 15 }, 500);
    //    }

    //}
    //function a106() {

    //    if (document.body.clientWidth < 1240) {
    //        $('html,body').animate({ scrollTop: $('#106').offset().top - 10 }, 500);
    //    }
    //    else {

    //        $('html,body').animate({ scrollTop: $('#106').offset().top - 15 }, 500);
    //    }
    //}

    //function a107() {

    //    if (document.body.clientWidth < 1240) {
    //        $('html,body').animate({ scrollTop: $('#107').offset().top - 10 }, 500);
    //    }
    //    else {

    //        $('html,body').animate({ scrollTop: $('#107').offset().top - 15 }, 500);
    //    }
    //}

    //function a108() {


    //    if (document.body.clientWidth < 1240) {
    //        $('html,body').animate({ scrollTop: $('#108').offset().top - 10 }, 700);
    //    }
    //    else {

    //        $('html,body').animate({ scrollTop: $('#108').offset().top - 15 }, 700);

    //    }
    //}
    function img1() {
        $("#img1").slideToggle();

    };
    function img2() {
        $("#img2").slideToggle();

    };
    function img3() {
        $("#img3").slideToggle();

    };
    function img4() {
        $("#img4").slideToggle();

    };

    function img5() {
        $("#img5").slideToggle();

    };

</script>