@*@{
    string name = ViewData["name"].ToString();
}*@

@*<h3 style="visibility:hidden"></h3>
<p>
    由於全球經濟快速發展，造成能源及化石燃料的消耗大量增加，使得全球碳循環遭到破壞，造成全球暖化使得地表溫度上升，而導致各國因氣候變遷造成不同領域或部門的衝擊。為避免上述情況的發生，同時推動調適和減緩策略以減緩溫室氣體增加，並預防未來可能發生的災害，就成為刻不容緩的工作。針對調適策略的規劃上，因調適計畫的執行目的係在於減緩各國對全球暖化所造成的衝擊，惟因各國之地理氣候、經濟情況等情況不同。因此，在調適策略的執行項目及其實施之優先順序也有所差異。
</p>
<p>
    一般而言，國家所訂立的調適計畫，係針對該國國內對氣候變遷後較具敏感度的部門或產業，分別提出減緩氣候變遷衝擊的計畫，以提高對氣候變遷的適應能力。就於我國而言，由於我國之地理氣候條件屬災害發生頻繁的海島型國家，四周環海且地小人稠，氣候變遷直接衝擊全島之水文、水資源、農業生產與農業需水量、公共衛生及生態環境等，每年發生的颱風、暴雨現象更是影響國內經濟社會發展的重要因素。因此，前述可能面臨的各項問題，皆係我國調適策略研訂之主要規劃方向。
</p>

<p>
    全球氣候變遷現象與溫室效應影響日益明顯，從溫室氣體排放持續增加、大氣組成持續改變、地球升溫、到全球氣候運作模式改變等，造成全球環境、生態、經濟等的失衡。反觀我們所處的臺灣，因地理與地質之因素，地震及颱風發生頻繁，未來的極端天氣勢必加劇災害發生之頻率及規模，該如何去調整與適應氣候變遷所帶來的衝擊，是當前必須正視的重要課題。
</p>*@
<div class=" text-right my-3">
    @*判斷是否已經登入*@
    @if (User.Identity.IsAuthenticated)
    {
        //判斷登入角色,符合角色則顯示按鈕進入後台
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-danger text-center" href="~/info/Edit/@ViewBag.id">編輯</a>
        }

    }
</div>
<script>
      function img1() {
        $("#img1").slideToggle();

    };
</script>
