<link href="~/_x/css/menu.css" rel="stylesheet">

<nav class="col-md-2">


    <div class="text-center">
        <button class="navbar-toggler d-md-none" style="width:100%" type="button" data-toggle="collapse" data-target="#leftmenu" aria-controls="actmenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only-focusable " style="color:aliceblue"><i style="font-size:20px;">&equiv;</i>&emsp; 因應作為子選單</span>
        </button>
    </div>

    <ul class="collapse list-group d-md-block" id="leftmenu">

        <li class="list-group-item ccis_li_root "><a href="~/act/Index/溫室氣體減緩策略">溫室氣體減緩策略</a></li>
        @*<li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="~/Act/Policy">溫室氣體減量與管理法</a></li>
                <li class="pl-3">▶<a href="~/Act/NationalOutline">國家因應氣候變遷行動綱領</a></li>
                <li class="pl-3">▶<a href="~/Act/PromotionPlan">溫室氣體減量推動方案 </a> </li>
                <li class="pl-3">▶<a href="~/Act/ControlPlan">部門溫室氣體排放管制行動方案</a></li>
                <li class="pl-3">▶<a href="~/Act/ExecutionPlan">溫室氣體管制執行方案</a></li>
                
                <li><a href="~/Act/Performance">施政績效</a></li>
                <li><a href="~/Act/Actionplan">六大部門溫管行動方案</a></li>
            </ul>
        </li>*@
        <li class="list-group-item ccis_li_root "><a href="~/act/index/氣候變遷調適策略">氣候變遷調適策略</a></li>
        <li class="list-group-item ccis_li_ch">
            <ul>
                @*<li>
                    102-106年度
                    <ul class="pl-3">

                        <li><a href="~/act/architecture">▶調適領域與工作架構</a></li>
                        <li><a href="~/act/promote">▶推動機制與行動方案</a></li>
                        <li><a href="~/act/overall">▶總體調適計畫</a></li>

                    </ul>
                </li>*@
                <li>
                    107-111年度
                    <ul class="pl-3">
                        <li>
                            <a href="~/act/nationalplan">▶國家氣候變遷調適行動方案</a>
                        </li>
                    </ul>
                </li>


            </ul>
        </li>
        <li class="list-group-item ccis_li_root "><a href="~/act/index/溫室氣體盤查申報">溫室氣體盤查申報</a></li>
        <li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="~/act/greenhousegas">溫室氣體查驗與盤查</a></li>
                @*<li><a href="~/act/greenhousegas">企業推動溫室氣體管理</a></li>*@
                @*<li><a href="~/act/emission">排放量申報暨盤查管理</a></li>*@
                <li><a href="~/act/exchange">抵換專案</a></li>
                @*<li><a href="~/energystar/index">能源之星</a></li>*@
            </ul>
        </li>
        <li class="list-group-item ccis_li_root "><a href="~/act/Detail_Sub_Sub">氣候變遷全民行動</a></li>
        <li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="~/act/ten">減碳十大撇步</a></li>
                @*
                <li><a href="~/act/Hotel">環保旅店</a></li>
                <li><a href="~/act/GreenShop">綠色採購</a></li>*@
                @*<li><a href="~/act/diet">低碳飲食</a></li>
                <li><a href="~/act/heatwave">熱浪來臨時</a></li>*@
               <li><a href="~/act/lowcarbon">低碳永續家園</a></li>
            </ul>
        </li>
        @*
        <li class="list-group-item"><a href="~/act/Evaluation">績效評比</a></li>*@

        @*
        <li class="list-group-item ccis_li_root"><a href="~/act/Hotel">全民行動</a></li>*@
        @*
        <li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="~/act/Hotel">低碳社區大學</a></li>
            </ul>
        </li>*@
    </ul>
</nav>