<link href="~/_x/css/menu.css" rel="stylesheet">
<nav class="col-md-2 d-none d-md-block sidebar">
    <ul class="list-group">

        <li class="list-group-item ccis_li_root"><a href="~/act/Hotel">氣候變遷全民行動</a></li>
         <li class="list-group-item ccis_li_ch">
             <ul>
                 <li><a href="~/act/Hotel">環保旅店</a></li>
             </ul>
         </li>
      
        @*<li class="list-group-item"><a href="~/act/Index/氣候變遷調適策略">氣候變遷調適策略</a></li>
        <li class="list-group-item"><a href="~/act/Index/溫室氣體盤查申報">溫室氣體盤查申報</a></li>*@
        @*<li class="list-group-item ccis_li_root"><a href="~/act/Hotel">全民行動</a></li>*@
        @*<li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="~/act/Hotel">低碳社區大學</a></li>
            </ul>
        </li>*@
    </ul>
</nav>