@{

    ViewData["title"] = "氣候變遷全民行動";
}
<nav class="d-none d-lg-block pl-3">
    <ol class="breadcrumb" style="font-size:19px; padding:0rem; margin-bottom: 0rem; background-color:transparent;">
        <li class="breadcrumb-item "><a href="~/home/index"><img class="pb-1" src="~/_x/img/index_house.png" alt="" title="首頁" />首頁</a></li>
        <li class="breadcrumb-item "><a href="~/act/Detail_Sub">因應作為</a></li>
        <li class="breadcrumb-item ">氣候變遷全民行動</li>

    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
        @{
            @await Html.PartialAsync("_Menu")
        }
        <main role="main" class="col-md-8 col-lg-8 pt-2" id="content">
  
            <h2 class="h2 p-md-4" style="border-bottom-style:dashed">氣候變遷全民行動</h2>

            <div class=" list-group list-group-flush py-4" style="width:100%">
                <h3><a href="~/act/ten" class="list-group-item item_odd">減碳十大撇步</a></h3>
                @*<a href="~/act/Hotel" class="list-group-item item_dou" >環保旅店</a>
                    <a href="~/act/GreenShop" class="list-group-item item_odd" >綠色採購</a>*@
                @*<h3><a href="~/act/diet" class="list-group-item item_dou">低碳飲食</a></h3>
                <h3><a href="~/act/heatwave" class="list-group-item item_odd">熱浪來臨時</a></h3>*@
                <a href="~/act/lowcarbon" class="list-group-item item_dou">低碳永續家園</a>
                <div class="text-center mt-4">
                    <a href="javascript:history.back();" class="btn btn-outline-info">&equiv; 回上頁</a>
                </div>

            </div>

        </main>

        <div class="col-lg-2">

        </div>

    </div>
</div>

