@{
    ViewData["title"] = "企業推動溫室氣體管理";
}
<nav class="d-none d-lg-block pl-3">
    <ol class="breadcrumb" style="font-size:19px; padding:0rem; margin-bottom: 0rem; background-color:transparent;">
        <li class="breadcrumb-item "><a href="~/home/index"><img class="pb-1" src="~/_x/img/index_house.png" alt="" title="首頁" />首頁</a></li>
        <li class="breadcrumb-item "><a href="~/act/Index/溫室氣體減緩策略">因應作為</a></li>
        <li class="breadcrumb-item "><a href="~/act/Index/溫室氣體盤查申報">溫室氣體盤查申報</a></li>
        <li class="breadcrumb-item ">企業推動溫室氣體管理</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        @{
            @await Html.PartialAsync("_Menu")
        }

        <main role="main" class="col-md-10 mx-sm-auto col-lg-9 pt-3  ccis_Detail">
            <div class=" pb-2 mb-3 border-bottom" id="content">
                <h2 class="h2">@ViewBag.Title</h2>
            </div>
            @Html.Raw(ViewBag.Html)

            @*<div class=" pb-2 mb-3 border-bottom" id="content">
                <h2>企業推動溫室氣體管理</h2>
            </div>
            <h3>我國溫室氣體認證與查驗管理機制</h3>
            <h4>
                （一）法源依據與管理架構
            </h4>
            <p>
                因應「溫室氣體減量及管理法」於民國104年7月1日總統令公布施行，並持續推動溫室氣體認證機構及查驗機構管理作業，已於民國105年1月7日正式發布「溫室氣體認證機構及查驗機構管理辦法」（以下簡稱管理辦法），作以推動溫室氣體認證及查驗作業之法制依據，其主要規範均參酌過往管理程序及規範（「環境檢驗測定機構管理辦法」及「行政院環境保護署管理溫室氣體查驗機構作業原則」）辦理，明定溫室氣體認證業務委託條件、查驗機構許可證申請與審查程序、查驗機構執行溫室氣確證與查證工作應遵行事項、中央主管機關稽查作業方式、查驗機構違規處理方式及停止委託認證機構等規定。
            </p>
            <h4>
                （二）查驗機構相關規定
            </h4>
            <p>
                依管理辦法第3條規定，查驗機構須為國際認可或其在國內開設之分支機構，且應取得環保署或其委託認證機構核發之認證證書，始得申請查驗機構許可證，並辦理確證及查證事宜。目前已公告委託1家認證機構及許可7家查驗機構，各合格機構名單及溫室氣體查驗項目資格，詳見國家溫室氣體登錄平台<a href="/act/greenhousegas#infolink1" alt="點擊移至詳細連結點" title="點擊移至詳細連結點"><sup>1</sup></a>。
            </p>
            <div class="text-center">
                <img class="mb-3 " src="~/_x/img/act/greenhouseGas.png" alt="企業推動溫室氣體管理" title="企業推動溫室氣體管理包括盤查、認知、申報、減量、交易及永續經營。" />
            </div>

            <div class="text-center my-1">
                <button class="btn btn-info m-2" onclick="img1()" title="圖片詳細說明">圖片詳細說明</button>
                <div id="img1">
                    企業推動溫室氣體管理包括盤查、認知、申報、減量、交易及永續經營。
                </div>
            </div>
            <ul>
                資料來源：
                <li>[1] <a id="infolink1" href="https://ghgregistry.epa.gov.tw/Check/check_Item1.aspx?Item=5" target="_blank" title="另開視窗(國家溫室氣體登錄平台)">國家溫室氣體登錄平台</a></li>
            </ul>*@
            <div class=" text-right my-3">
                @*判斷是否已經登入*@
                @if (User.Identity.IsAuthenticated)
                {
                    //判斷登入角色,符合角色則顯示按鈕進入後台
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-danger text-center" href="~/info/Edit/@ViewBag.id">編輯</a>
                    }
                }
            </div>
        </main>
        <div class="col-lg-1">    </div>
    </div>
</div>
<script>

    function img1() {
        $("#img1").slideToggle();
    };
</script>