<nav class="d-none d-lg-block pl-3">
    <ol class="breadcrumb" style="font-size:19px; padding:0rem; margin-bottom: 0rem; background-color:transparent;">
        <li class="breadcrumb-item "><a href="~/home/index"><img class="pb-1" src="~/_x/img/index_house.png"  alt=""  title="首頁" />首頁</a></li>
        <li class="breadcrumb-item "><a href="~/act/Detail_Sub">因應作為</a></li>
        <li class="breadcrumb-item "><a href="~/act/Index/溫室氣體減緩策略">氣候變遷調適策略</a></li>
        <li class="breadcrumb-item ">施政績效</li>

    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
        @{
            @await Html.PartialAsync("_Menu")
        }

        <main role="main" class="col-md-10 ml-sm-auto col-lg-8 pt-3 px-4 ccis_Detail">
            <div class=" pb-2 mb-3 border-bottom" id="content">
                <h2 >施政績效</h2>
                </div>
                @*使用fb分享 請取消註解
            <a class="my-auto mr-1" href="javascript: void(window.open('https://www.facebook.com/share.php?u='.concat(encodeURIComponent(location.href)),'fbwin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0' ));"><img src="~/_x/img/iconfb-.png" alt="臉書分享" title="臉書分享(另開視窗)" /></a>
            <a class="my-auto mr-1" href="javascript: void(window.open('https://line.me/R/msg/text/?','linewin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'));"><img src="~/_x/img/iconline-.png" alt="Line分享" title="Line分享(另開視窗)" /></a>
            <a class="my-auto notprint mr-1" href="#" onclick="window.print();"><img  src="~/_x/img/iconpr-.png" alt="列印" title="列印(另開視窗)" /></a>
            <a class="my-auto mr-1" href="javascript: void(window.open('http://twitter.com/home/?status='.concat(encodeURIComponent(document.title)) .concat(' ') .concat(encodeURIComponent(location.href)),'twitterwin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'));"><img  src="~/_x/img/icontt-.png" alt="推特分享" title="推特分享(另開視窗)" /></a>
                *@
                <div class="text-center">
                    <img class="mb-3" style="width:100%; max-width:950px; border-radius:5px;" src="~/_x/img/Act/10805Performance.png" alt="重大施政績效" title="重大施政績效" />
                </div>

                <div class="accordion " id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="heading10805">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse10805" aria-expanded="true" aria-controls="collapse10805">
                                    108年05月份重大施政績效
                                </button>
                            </h5>
                        </div>

                        <div id="collapse10805" class="collapse " aria-labelledby="heading10805" data-parent="#accordionExample">
                            <div class="card-body">
                                （一）5 月 14 日辦理「107 年度推動低碳永續家園暨環境清潔 維護考核績優發表活動」記者會，由張署長子敬親自頒 獎，肯定並感謝 107 年得獎社區里民共同攜手展現對抗 氣候變遷的行動力與為環境清潔維護付出心力，讓環境 品質得以逐年提升。 第 4 頁，共 9 頁
                                （二）5 月 21 日及 30 日舉辦「溫室氣體減量對策能力建構研習 班」，說明溫室氣體相關法規架構、盤查管理制度及獎 勵機制，使政府部門共同推動落實溫室氣體減量工作， 達到專業人才養成與訓練之目的，出席單位包含交通部 運輸研究所、中央氣象局、工業園區管理局、農業試驗 所、漁業署、營建署及建築研究所，約 40 個相關單位參 加。
                                （三）5 月 27 日辦理「溫室氣體微型規模抵換專案法規外加性 審查原則」專家諮詢會，主要就微型規模抵換專案法規 外加性審查其定義及涵蓋範疇進行討論。

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading10804">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse10804" aria-expanded="true" aria-controls="collapse10804">
                                    108年04月份重大施政績效
                                </button>
                            </h5>
                        </div>

                        <div id="collapse10804" class="collapse " aria-labelledby="heading10804" data-parent="#accordionExample">
                            <div class="card-body">
                                （一）4 月 24 日召開「溫室氣體減量成效認可審議會第 10 次會 議」，辦理經專案小組審查完成案件，計 5 件（包括註冊 申請 2 件、額度申請 1 件、新減量方法 2 件）。
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading10803">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse10803" aria-expanded="true" aria-controls="collapse10803">
                                    108年03月份重大施政績效
                                </button>
                            </h5>
                        </div>

                        <div id="collapse10803" class="collapse " aria-labelledby="heading10803" data-parent="#accordionExample">
                            <div class="card-body">
                                （一）為使地方政府對於氣候變遷衝擊提出完整因應措施，及 持續推動「低碳永續家園」建構工作，於 3 月 20 日核定 補助地方政府辦理「108 年執行氣候變遷因應與低碳永續 行動項目實施專案」計 15 項計畫，總補助經費計 8,514 萬 7,000 元。
                                (二）3 月 26 日完成 107 年度地方環保局推動因應氣候變遷行 動績效之考評工作。臺北市、新北市、桃園市、臺中市、 臺南市、高雄市、宜蘭縣、新竹縣、彰化縣、南投縣、 嘉義縣、臺東縣、嘉義市及金門縣榮獲特優，鼓勵地方 政府積極推動因應氣候變遷行動，並建構低碳永續家 園。
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading10802">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10802" aria-expanded="false" aria-controls="collapse10802">
                                    108年02月份重大施政績效
                                </button>
                            </h5>
                        </div>
                        <div id="collapse10802" class="collapse" aria-labelledby="heading10802" data-parent="#accordionExample">
                            <div class="card-body">
                                2 月 22 日行政院核定本署陳報「溫室氣體國家報告」，該報告彙集相關部會、地方政府、產業界及民間組織等近年來因應氣候變遷所做之努力與成果，包括我國溫室氣體排放吸收統計趨勢分析與預測、溫室氣體減量政策措施、氣候變遷衝擊影響及調適對策、氣象觀測及氣候變遷科學研究、技術研發需求及移轉、國際合作及交流、教育培訓及宣導等。<a href="https://www.epa.gov.tw/Page/5DB26A6DD5A58808">https://www.epa.gov.tw/Page/5DB26A6DD5A58808</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading10801">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10801" aria-expanded="false" aria-controls="collapse10801">
                                    108年01月份重大施政績效
                                </button>
                            </h5>
                        </div>
                        <div id="collapse10801" class="collapse" aria-labelledby="heading10801" data-parent="#accordionExample">
                            <div class="card-body">
                                1月 11 日修正發布「溫室氣體排放源符合效能標準獎勵 辦法」第 3 條、第 7 條及第 14 條。本次修正主要排除未執行溫室氣體減緩措施卻取得額度、刪除減緩措施需執行滿 12 個月之限制以及增訂效能標準施行前所執行減緩措施之申請期限等規定。
                                1 月 22 日召開「溫室氣體減量成效認可審議會第 9 次會 議」，辦理經專案小組審查完成案件，計 11 案（包括註冊申請 3 件、額度申請 3 件、計畫書變更 1 件及新減量方法 4 件

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading10801">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10801" aria-expanded="false" aria-controls="collapse10801">
                                    107年12月份重大施政績效
                                </button>
                            </h5>
                        </div>
                        <div id="collapse10801" class="collapse" aria-labelledby="heading10801" data-parent="#accordionExample">
                            <div class="card-body">
                                （一）行政院代表團於 12 月 2 日至 14 日赴波蘭卡托維茲參加 「聯合國氣候變化綱要公約第 24 次締約方大會」 (UNFCCC COP24)相關會議活動，本署配合外交部及駐波蘭代表處規劃安排，COP24 期間與我國友邦及友好國家共進行 38 場雙邊會談，署長親自出席其中 20 場，會晤多位總理、環境部長及國會議員等，並於 12 月 18 日與 外交部共同召開「聯合國氣候變化綱要公約第 24 次締約 方大會(UNFCCC COP24)返國記者會」，說明行政院代表 團參加 COP24 期間，國內各界多元參與情形、辦理雙邊交流活動與國際媒體專訪成果。
                                （二）於 12 月 19 日會銜經濟部公告「新設或變更溫室氣體排 放源排放量規模」，明定溫室氣體年排放量達 2.5 萬公噸 二氧化碳當量（CO2e）者，為未來總量管制新設業者之 列管條件，符合本公告條件者，應及早引入最佳可行技 術降低排放，為溫室氣體總量管制預作準備；另於 12 月 27 日修正發布「溫室氣體抵換專案管理辦法」，新增微型 規模抵換專案類別，申請者僅需論證減量非屬法規應遵 循事項即可提出，簡化申請作業程序，以鼓勵中小企業 等小型排放源，並擴及運輸及住商部門皆可參與，促進 各類型排放源減量技術發展。
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading10712">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10712" aria-expanded="false" aria-controls="collapse10712">
                                    107年11月份重大施政績效
                                </button>
                            </h5>
                        </div>
                        <div id="collapse10712" class="collapse" aria-labelledby="heading10712" data-parent="#accordionExample">
                            <div class="card-body">
                                11 月 13 日發布訂定「補助溫室氣體減量管理及氣候變遷調 適研究發展計畫作業辦法」，鼓勵國內大專校院與研究機構， 投入溫室氣體減量管理策略或氣候變遷調適相關研究。
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading10711">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" style="font-size:20px;" type="button" data-toggle="collapse" data-target="#collapse10711" aria-expanded="false" aria-controls="collapse10711">
                                    107年10月份重大施政績效
                                </button>
                            </h5>
                        </div>
                        <div id="collapse10711" class="collapse" aria-labelledby="heading10711" data-parent="#accordionExample">
                            <div class="card-body">
                                107年10月份重大施政績效
                                行政院於 10 月 3 日正式核定國家能源、製造、運輸、住 商、農業及環境等六大部門「溫室氣體排放管制行動方 案」，此為中央相關部會首次依「溫室氣體減量及管理法」 第 9 條第 3 項規定，訂定 107 年至 109 年的減碳具體行 動，搭配我國 109 年（西元 2020 年）溫室氣體排放量較 基準年 94 年（西元 2005 年）減量 2%的第一期溫室氣體 階段管制目標，共同勾勒出國家整體減碳策略藍圖。

                            </div>
                        </div>
                    </div>
                </div>



        </main>
        <div class="col-lg-2">   </div>
    </div>
</div>
@section styles {
    <style>
        h5 {
            font-weight: bold;
        }

        .btn, .card-body {
            font-size: 19px;
        }



        p {
            text-indent: 2em;
            font-size: 19px;
        }
        /*.ccis_Detail img {
            width: 70%;
            max-width: 945px;
        }*/
    </style>
}