@*後臺資料來源*@
<div class=" pb-2 mb-3 border-bottom">
    <h2 class="h2">@ViewBag.Title</h2>
</div>

@Html.Raw(@ViewBag.Html)

@*<div class=" pb-2 mb-3 border-bottom" id="content">
        <h2>溫室氣體排放清冊</h2>
    </div>

    <h3>溫室氣體排放清冊</h3>
    <p>
        依據聯合國氣候變化綱要公約（United Nations Framework Convention on Climate Change, UNFCCC<a href="/ghg/Index/溫室氣體排放清冊#infolink1" alt="點擊移至詳細連結點" title="點擊移至詳細連結點"><sup>1</sup></a>）
        第4條及第12條與京都議定書第7條規範，締約方有義務提交有關因應氣候變化相關進展之資訊，供UNFCCC締約方會議檢視，其中國家清冊報告（National Inventory Report, NIR）即為UNFCCC要求附件一國家，每年以共同報告格式
        （Common Reporting Format, CRF）呈報其國家溫室氣體清冊之際，加以說明該國溫室氣體清冊準備程序、排放趨勢說明、各部門統計情況、重新計算情況等的一份國家報告。而針對非附一國家（開發中國家）則採取鼓勵方式，但目前尚未
        有非附件一國家自願提交完整的NIR報告。我國雖然不是UNFCCC締約方，但是向來恪盡地球村一份子的責任，積極為減緩地球暖化貢獻心力，而建置一份國家的溫室氣體清冊，估算溫室氣體排放量與吸收量，是一個國家因應UNFCCC的基本義務
        ，也是減緩地球暖化的基本工作之ㄧ，首次於2014年撰寫NIR報告，展現我國控制溫室氣體排放及吸收的成效。
    </p>

    <h3>我國現況</h3>
    <p>
        我國自1998年迄今積極準備溫室氣體清冊，根據政府間氣候變化專門委員會（Intergovernmental Panel on Climate Change, IPCC<a href="/ghg/Index/溫室氣體排放清冊#infolink2" alt="點擊移至詳細連結點" title="點擊移至詳細連結點"><sup>2</sup></a>）
        國家溫室氣體清冊指南的統計方法（IPCC　Guidelines for National Greenhouse Gas Inventories），按清冊各部門分類進行溫室氣體排放量與移除量的統計，其中納入經濟部能源局、工業局及行政院農業委員會等各相關部會執行國家溫室氣體排放清冊歷年統計成果，迄今已經完成1990至2014年溫室氣體清冊資料庫之建置，並完成2014、2015、2016年國家溫室氣體排放清冊之出版。報告內容參照京都議定書年度國家清冊報告規範及其架構，說明我國溫室氣體排放清冊統計的範圍、概況與整體溫室氣體排放趨勢，陳述各部門不同溫室氣體排放源與吸收匯的統計方法、數據、結果與各部門排放趨勢等內容。
    </p>*@

@*不確定要的內容 start <div class="row mb-3 text-center">
        <div class="col-md-6">
            <a href="~/_x/img/ghg/g_gases.pdf" title="另開新視窗" target="_blank"><img src="~/_x/img/ghg/g_gase.jpg" alt="國家溫室氣體排放您瞭解多少" title="國家溫室氣體排放您瞭解多少(另開視窗)" /></a>
        </div>
        <div class="col-md-6">
            <a href="~/_x/img/ghg/g_gases1.pdf" title="另開新視窗" target="_blank"><img src="~/_x/img/ghg/g_gases1.jpg" alt="國家溫室氣體從哪裡來" title="國家溫室氣體從哪裡來(另開視窗)" /></a>
        </div>

    </div> end *@

@*<div id="ghg_info" style="border-radius:10px;">
        <div id="ghg_info6">主要排放源2018年清冊報告</div>
        <div id="ghg_info1"><a href="http://unfccc.saveoursky.org.tw/2018nir/uploads/03_content.pdf" title="另開新視窗(能源部門.pdf檔案)" target="_blank">能源部門</a></div>
        <div id="ghg_info2"><a href="http://unfccc.saveoursky.org.tw/2018nir/uploads/05_content.pdf" title="另開新視窗(農業部門.pdf檔案)" target="_blank">農業部門</a></div>
        <div id="ghg_info3"><a href="http://unfccc.saveoursky.org.tw/2018nir/uploads/07_content.pdf" title="另開新視窗(廢棄物部門.pdf檔案)" target="_blank">廢棄物部門</a></div>
        <div id="ghg_info4"><a href="http://unfccc.saveoursky.org.tw/2018nir/uploads/04_content.pdf" title="另開新視窗(工業製程及產品使用部門.pdf檔案)" target="_blank">工業製程及產品使用部門</a></div>
        <div id="ghg_info5"><a href="http://unfccc.saveoursky.org.tw/2018nir/uploads/06_content.pdf" title="另開新視窗(土地利用、土地利用變化及林業部門.pdf檔案)" target="_blank">土地利用、土地利用變化及林業部門</a></div>
    </div>

    <h3>歷年報告下載</h3>
    <ul>
        <li>
            <a href="http://unfccc.saveoursky.org.tw/2014nir/" title="另開新視窗(2014年中華民國國家溫室氣體清冊報告)" target="_blank">
                2014年溫室氣體清冊報告
            </a>
        </li>
        <li>
            <a href="http://unfccc.saveoursky.org.tw/2015nir/tw_nir.php" title="另開新視窗(2015我國國家溫室氣體排放清冊報告)" target="_blank">
                2015年溫室氣體清冊報告
            </a>
        </li>
        <li>
            <a href="http://unfccc.saveoursky.org.tw/2016nir/tw_nir.php" title="另開新視窗(2016我國國家溫室氣體排放清冊報告)" target="_blank">
                2016年溫室氣體清冊報告
            </a>
        </li>
        <li>
            <a href="http://unfccc.saveoursky.org.tw/2017nir/tw_nir.php" title="另開新視窗(2017我國國家溫室氣體排放清冊報告)" target="_blank">
                2017年溫室氣體清冊報告
            </a>
        </li>
        <li>
            <a href="http://unfccc.saveoursky.org.tw/2018nir/tw_nir_2018.php" title="另開新視窗(2018我國國家溫室氣體排放清冊報告)" target="_blank">
                2018年溫室氣體清冊報告
            </a>
        </li>
    </ul>
    <ul>
        資料來源：
        <li>[1] <a id="infolink1" href="http://unfccc.int/resource/climateaction2020/index.html" target="_blank" title="另開視窗(UNFCCC)">UNFCCC</a></li>
        <li>[2] <a id="infolink2" href="https://www.ipcc.ch/" target="_blank" title="另開視窗(IPCC_The Intergovernmental Panel on Climate Change )">IPCC_The Intergovernmental Panel on Climate Change </a></li>
    </ul>*@


<div class=" text-right my-3">
    @*判斷是否已經登入*@
    @if (User.Identity.IsAuthenticated)
    {
        //判斷登入角色,符合角色則顯示按鈕進入後台
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-danger text-center" href="~/info/Edit/@ViewBag.id">編輯</a>
        }

    }
</div>
