<h2 class="h2">
    溫室氣體排放清冊
</h2>
<div class="row">
    <div id="ghg_info"
         class="col">
        @*<div style="position:relative" >
            <div style=" position:absolute;top:50%">我國那一部門在106年排放最多溫室氣體?</div>
            <div >
                <a href="#">能源部門</a>
                <a href="#">農業部門</a>
                <a href="#">廢棄部門</a>
            </div>
        </div>*@
    </div>
</div>

