<link href="~/_x/css/menu.css" rel="stylesheet">
<nav class="col-md-2 d-none d-md-block sidebar">
    <ul class="list-group" id="leftmenu">
        <li class="list-group-item ccis_li_root"><a href="~/ghg/Index/溫室氣體排放清冊">溫室氣體排放清冊</a></li>       
    </ul>
</nav>