<link href="~/_x/css/menu.css" rel="stylesheet">

<nav class="col-md-2 ">
    <div class="text-center">
        <button class="navbar-toggler d-md-none" style="width:100%" type="button" data-toggle="collapse" data-target="#leftmenu" aria-controls="knowmenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only-focusable " style="color:aliceblue"><i style="font-size:20px;">&equiv;</i>&emsp; 氣候變遷知識子選單</span>
        </button>
    </div>

    <ul class="collapse list-group d-md-block " id="leftmenu">
        <li class="list-group-item ccis_li_root"><a href="~/Know/Detail_Sub_Sub">氣候變遷介紹</a></li>
        <li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="~/know/detail">溫室效應與全球暖化</a></li>
                <li><a href="~/know/detail2">氣候變遷衝擊</a></li>
                <li><a href="~/know/detail3">氣候變遷減緩</a></li>

                @*<li class="pl-3">▶<a href="~/know/detail3_1">我們可以做什麼</a></li>
                    <li class="pl-3">▶<a href="~/know/detail3_2">社區可以做什麼</a></li>
                    <li class="pl-3">▶<a href="~/know/detail3_3">企業可以做什麼</a></li>*@

                <li><a href="~/know/detail4">氣候變遷調適</a></li>
            </ul>
        </li>
        <li class="list-group-item ccis_li_root"><a href="~/know/Detail_Sub_Sub2">氣候公約介紹</a></li>
        <li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="~/know/pact">聯合國氣候變化綱要公約(UNFCCC)</a></li>
                <li class="pl-3"><a href="~/know/pact1">▶京都議定書(Kyoto Protocol)</a></li>
                <li class="pl-3"><a href="~/know/pact2">▶巴黎協定(The Paris Agreement)</a></li>
            </ul>
        </li>
        @*<li class="list-group-item ccis_li_root"><a href="~/know/EachCountry">各國氣候變遷調適</a></li>
            <li class="list-group-item ccis_li_ch">
                <ul>
                    <li><a href="~/know/singapore">新加坡</a></li>
                    <li><a href="~/know/japan">日本</a></li>
                    <li><a href="~/know/korea">南韓</a></li>
                    <li><a href="/know/europeanunion">歐盟</a></li>
                    <li class="pl-3">▶<a href="~/know/english">英國</a></li>
                    <li class="pl-3">▶<a href="~/know/france">法國</a></li>
                    <li class="pl-3">▶<a href="~/know/germany">德國</a></li>
                    <li class="pl-3">▶<a href="~/know/netherlands">荷蘭</a></li>
                    <li class="pl-3">▶<a href="~/know/denmark">丹麥</a></li>
                    <li><a href="~/know/iceland">冰島</a></li>
                    <li><a href="~/know/australia">澳洲</a></li>
                    <li><a href="~/know/canada">加拿大</a></li>
                    <li><a href="~/know/america">美國</a></li>
                </ul>
            </li>*@

        @*<li class="list-group-item ccis_li_root"><a href="~/know/Poster">氣候變遷相關海報</a></li>
            <li class="list-group-item ccis_li_ch">
                <ul>
                    <li><a href="~/know/Poster2">低碳生活</a></li>
                    <li><a href="~/know/Poster3">住商部門</a></li>
                    <li><a href="~/know/Poster4">辦公相關</a></li>


                </ul>

            </li>*@
    </ul>

</nav>
