@{

    ViewData["title"] = "氣候公約介紹";
}
<nav class="d-none d-lg-block pl-3">
    <ol class="breadcrumb" style="font-size:19px; padding:0rem; margin-bottom: 0rem; background-color:transparent;">
        <li class="breadcrumb-item "><a href="~/home/index"><img class="pb-1" src="~/_x/img/index_house.png" alt="" title="首頁" />首頁</a></li>
        <li class="breadcrumb-item "><a href="~/Know/Detail_Sub">氣候變遷知識</a></li>
        <li class="breadcrumb-item">氣候公約介紹</li>

    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
        @{
            @await Html.PartialAsync("_Menu")
        }
        <main role="main" class="col-md-8 col-lg-8 pt-2" id="content">
            @*<div><a accesskey="C" href="#C" title="主要內容區" id="AC">:::</a></div>*@
            <h2 class="h2 p-md-4" style="border-bottom-style:dashed">氣候公約介紹</h2>

            <div class=" list-group list-group-flush py-4" style="width:100%">
                <h3><a href="~/know/pact" class="list-group-item item_odd">聯合國氣候變化綱要公約(UNFCCC)</a></h3>
                <h3><a href="~/know/pact1" class="list-group-item item_dou">京都議定書(Kyoto Protocol)</a></h3>
                <h3><a href="~/know/pact2" class="list-group-item item_odd">巴黎協定(The Paris Agreement)</a></h3>

                <div class="text-center mt-4">
                    <a href="javascript:history.back();" class="btn btn-outline-info">&equiv;	回上頁</a>
                </div>

            </div>

        </main>

        <div class="col-lg-2">

        </div>

    </div>
</div>
