
<nav class="d-none d-lg-block pl-3">
    <ol class="breadcrumb" style=" font-size:19px; padding:0rem; margin-bottom: 0rem; background-color:transparent;">
        <li class="breadcrumb-item "><a href="~/home/index"><img class="pb-1" src="~/_x/img/index_house.png"  alt=""  title="首頁" />首頁</a></li>
        <li class="breadcrumb-item "><a href="~/Know/Detail_Sub">氣候變遷知識</a></li>
        <li class="breadcrumb-item "><a href="~/Know/EachCountry">各國氣候變遷調適</a></li>
        <li class="breadcrumb-item ">法國</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        @{
            @await Html.PartialAsync("_Menu")
        }
        <main role="main" class="col-md-10 ml-sm-auto col-lg-8 pt-3 px-4 ccis_Detail">
            <div class=" pb-2 mb-3 border-bottom">
                <h2 class="h2">
                    @*@Html.Raw(@ViewBag.Title)*@
                    法國氣候變遷調適策略
                </h2>
            </div>
            @*@Html.Raw(@ViewBag.html)*@
            <h4>法國氣候變遷調適背景</h4>
            <p>
                90年代末期，法國環境部針對緩解氣候變遷啟動全國性氣候變遷調適計畫，目的限制因氣候變遷造成的社會經濟活動損害，和其他自然影響。公共調適政策旨在預測氣候變遷的影響，經由控制因素（如風險區域的城市化）來限制可能的損害，並利用潛在的機會。
            </p>
            <h4>調適行動計畫的發展</h4>
            <p>
                法國國家氣候變遷調適策略展示法國如何執行氣候變遷調適。此策略由法國國家全球暖化觀測中心（Observatoire national sur les effets du réchauffement climatique ，ONERC）主持，進行廣泛討論協商而制定。2006年11月13日該觀測中心代表邀請各部門和民間社團參與永續發展委員會，並確立這項策略的內容。
            </p>
            <h5>一、	第一國家氣候變遷調適計畫（Plan national d'adaptation au changement climatique ，PNACC）</h5>
            <p>法國於2011年制定第一個為期5年的國家氣候變遷調適計畫（PNACC），提供具體及可操作的措施，使法國能應對並利用新氣候條件。2010年7月20日，生態部長提交了2010年進行廣泛磋商的第一份PNACC，其中提出200多項建議作為實施的基礎。第一計畫在歐盟公佈，建議措施涵蓋所有活動部門，並圍繞在4個主題：</p>
            <div class="pl-5">
                <ul class="ulstr">
                    <li>(一)	保護人民及其財產安全</li>
                    <li>(二)	面對風險時避免不平等的對待</li>
                    <li>(三)限制成本並利用這些益處</li>
                    <li>(四)	保護自然遺產</li>
                </ul>
            </div>

            <p>PNCCA（2011–2015）是跨部會和跨部門的，概括20個領域：橫切行動、衛生、水、生物多樣性、自然災害、農業、林業、漁業和水產養殖、旅遊、能源、工業、交通基礎設施和服務、城市規劃和建築環境、資訊、教育和培訓、研究、金融和保險、海岸線、山區、歐洲和國際行動和治理。</p>
            <p>NAPCP處理各種主題完美地說明了設立理念：調適納入公共政策中。2014年環境會議對PNACC進行外部評估後，加強國家調適策略。該任務於2015年6月委託給環境與永續發展委員會（Le conseil général de l'Environnement et du Développement durable, CGEDD）。評估工作於2015年11月23日提交給ONERC Orientation Council成員，報告於2015年12月17日提交給國家生態轉型委員會（CNTE）。</p>

            <h5>二、	第二份法國國家氣候變遷調適計畫（PNACC-2）</h5>
            <p>法國是規劃氣候變遷調適策略最完整的國家之一。在COP21取得成功後，法國開始以巴黎協定為基礎修訂新調適政策—與第二份全國氣候變遷調適計畫（PNACC-2），目的讓法國於21世紀中，有效地適應氣候變遷、並控制法國和海外地區的氣溫上升幅度僅高於19世紀全球均溫1.5–2℃。PNACC-2提出重要的改變，法國將改進不同領土範圍之間的聯繫、加強國際和跨界的連結及促進以自然為基礎的解決方案。新計畫主要根據2011–2015年PNACC的評估成果進行協商，2016年至2017年期間，近300名參加者與會，並根據6個主軸製定建議（34個專題表）：</p>
            <div class="pl-5">
                <ul class="ulstr">
                    <li>(一)	治理和指導</li>
                    <li>(二)	知識和資訊，包括感知</li>
                    <li>(三)	預防和韌性</li>
                    <li>(四)	調適和環境保育</li>
                    <li>(五)	經濟部門的脆弱性</li>
                    <li>(六)	加強國際行動</li>
                </ul>
            </div>


            <h4>調適策略項目</h4>

            <table class="table table-striped" style="font-size:19px;">
                <thead>
                    <tr>
                        <th class="text-center">項 目</th>
                        <th class="text-center">策 略 重 點</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle text-center">運輸</td>
                        <td>
                            <ul>
                                <li>加強管制空氣污染</li>
                                <li>減少對化石燃料的依賴</li>
                                <li>加快車輛更換為低排放車</li>
                                <li>2030年將電動汽車充電座增加至700萬座</li>
                                <li>2020年法國10％的運輸將使用再生燃料</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">建築營造</td>
                        <td>
                            <ul>
                                <li>加快住宅能源改善，每年提供50萬件的房屋改善案，並優先處理燃料貧窮戶</li>
                                <li>2050年所有新建築為低耗能建築</li>
                                <li>加強能耗管理：減稅以鼓勵節能改善工程。建立節能改善平台</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">推動循環經濟</td>
                        <td>
                            <ul>
                                <li>經濟成長與原物料消費脫鉤</li>
                                <li>2020年家庭廢棄物漸少10%</li>
                                <li>2020年無害廢物回收率達55%，2025年達65%</li>
                                <li>2020年建築與公共工程廢棄物回收率達70%</li>
                                <li>2020年廢棄物掩埋量漸少50%</li>

                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">農業、林業</td>
                        <td>
                            <ul>
                                <li>加強農業生態工程</li>
                                <li>增加樹木數量以支持生物資源發展</li>
                                <li>監測樹木對土壤、空氣、水、風景和生物多樣性的影響</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">工業</td>
                        <td>
                            <ul>
                                <li>控制單一產品對能源和原料的需求，高效利用能源</li>
                                <li>促進循環經濟</li>
                                <li>減少溫室氣體排放強度於能源的份額</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">能源</td>
                        <td>
                            <ul>
                                <li>促進再生能源與太陽能發展</li>
                                <li>未來15年將再生能源使用比率提高一倍</li>
                                <li>加強再生能源與電源系統的整合提高核能安全</li>
                     
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

        </main>
        <div class="col-lg-2"></div>
    </div>
</div>
@section styles {
    <style>
        h4 {
            font-weight: bold;
            color: #129696
        }
        h4~p{
            margin-left:45px;
        }

        h5 {
            font-weight: bold;
                      margin-left:45px;
        }
        /*h5~ol{
             margin-left:45px;
             font-size:19PX;
        }*/

        .ccis_Detail img {
            width: 70%;
            /*border-radius: 5px;*/
            max-width: 945px;
        }

        .ulstr {
            list-style-type: none;
            font-size: 19px;
        }

        table tr td ul {
            margin-bottom: 0;
        }

        /*p {
            padding-left: 3rem;
        }*/
    </style>
}
