@{
    string name = ViewData["name"].ToString();
    @await Html.PartialAsync("_Nav1", "氣候變遷知識 >" +ViewData["name"]);  
}
<div class="container-fluid">
    <div class="row">       
            @await Html.PartialAsync("_Menu", ViewData["name"])
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h2 class="h2">@ViewData["name"]</h2>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <a class="btn btn-sm btn-outline-secondary">|＜</a>
                        <a class="btn btn-sm btn-outline-secondary">＜</a>
                    </div>
                    <div class="btn-group mr-2">
                        <a class="btn btn-sm btn-outline-secondary active">1</a>
                        <a class="btn btn-sm btn-outline-secondary">2</a>
                        <a class="btn btn-sm btn-outline-secondary">3</a>
                        <a class="btn btn-sm btn-outline-secondary">4</a>
                        <a class="btn btn-sm btn-outline-secondary">5</a>
                    </div>
                    <div class="btn-group mr-2">
                        <a class="btn btn-sm btn-outline-secondary">＞</a>
                        <a class="btn btn-sm btn-outline-secondary">＞|</a>
                    </div>
                    @*<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                        <line x1="16" y1="2" x2="16" y2="6"></line>
                        <line x1="8" y1="2" x2="8" y2="6"></line>
                        <line x1="3" y1="10" x2="21" y2="10"></line>
                    </svg>
                    This week
                </button>*@
                </div>
            </div>
            @{
                @await Html.PartialAsync("_List1")
            }
            @*<h2>Section title</h2>*@
        </main>
    </div>
</div>
