
<nav class="d-none d-lg-block pl-3">
    <ol class="breadcrumb" style=" font-size:19px; padding:0rem; margin-bottom: 0rem; background-color:transparent;">
        <li class="breadcrumb-item "><a href="~/home/index"><img class="pb-1" src="~/_x/img/index_house.png"  alt="首頁圖示"  title="首頁" />首頁</a></li>
        <li class="breadcrumb-item "><a href="~/Know/Detail_Sub">氣候變遷知識</a></li>
        <li class="breadcrumb-item "><a href="~/Know/EachCountry">各國氣候變遷調適</a></li>
        <li class="breadcrumb-item ">南韓</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        @{
            @await Html.PartialAsync("_Menu")
        }
        <main role="main" class="col-md-10 ml-sm-auto col-lg-8 pt-3 px-4 ccis_Detail">
            <div class=" pb-2 mb-3 border-bottom">
                <h2 class="h2">
                    @*@Html.Raw(@ViewBag.Title)*@
                    南韓氣候變遷調適策略
                </h2>
            </div>
            @*@Html.Raw(@ViewBag.html)*@
            <h4>南韓受氣候變遷影響</h4>
            <p>南韓受氣候變遷影響速度比全球平均更快，其氣溫與全球平均升溫相比高了1 °C。預計南韓在2100年氣溫將上升4.2 °C。目前觀測到雨天總數減少，但降水總量增加，導致極端的降雨模式，並預計這一趨勢將在未來加劇。同時海平面和水溫上升也高於全球平均值。因此，對南韓來說，制定氣候變遷風險的對策，以保護人民生命財產免受氣候變遷災害影響是非常急迫的，南韓國民普遍也認為需要採取措施來調適氣候變遷。</p>
            <h4>南韓氣候變遷調適背景</h4>
            <p>
                南韓國家調適政策主要由環境部推動，為促進韓國調適氣候變遷，環境部於 2009 年成立「韓國氣候變遷調適中心(Korea Adaptation Center for Climate Change, KACCC)」，將重點放在「聯合國氣候變化綱要公約」減緩和調適上，透過國際合作、研究氣候變遷調適策略以及建置韓國氣候變遷調適資訊平台三大方針，促進氣候變遷調適政策規劃。
            </p>
            <div class="text-center">
                <img src="~/_x/img/know/korea03.jpg" alt="韓國氣候變遷調適中心與各組織之合作架構" />
            </div>
            <p>南韓為「聯合國氣候變化綱要公約」的非附件一國家，氣候變遷因應作為起步較晚，但南韓政府評估綠色經濟及碳交易市場的潛在競爭力，開始推動綠色成長及強化氣候變遷的立法。於 2010年4月14日公布、同年10月生效的「低碳綠色成長法（<a href="https://www.iea.org/policiesandmeasures/pams/korea/name-38971-en.php" target="_blank" title="另開視窗">Framework Act on Low Carbon, Green Growth</a>）」確立2009至2050年國家綠色成長及因應氣候變遷<a href="http://wedocs.unep.org/bitstream/handle/20.500.11822/8975/-Korea%20Environmental%20Policy%20Bulletin%20-%20Korea%27s%20Adaptation%20Strategy%20to%20Climate%20Change-2011Korea%27s%20Adaptation%20Strategy%20to%20Climate%20Change_KEPB2011.pdf?sequence=3&isAll" target="_blank" title="另開視窗">策略</a>，並且設立各部門中長期的碳排放具體減量目標，為碳市場建立框架。根據此法，確立環境部為領導部門，自 2010 年起邀集 13 個政府部門研擬「國家氣候變遷調適綱要計畫（National Climate Change Adaptation Master Plan 2011-2015）」，每5年需再召集相關部會修訂，總實施期程為20年。建立各部門調適計畫：針對健康、災難/災害、農業、森林、海洋與漁業、水資源管理、生態系統、氣候變遷預測與監控、能源與產業調適、教育與國際合作等十大領域，分別建立對應之調適計畫，對應至<a href="~/act/Index/氣候變遷調適策略" target="_blank" title="另開視窗">我國氣候變遷調適八大領域</a>。</p>

            <div class="text-center">
                <img src="~/_x/img/know/korea01.jpg" />
            </div>
            <h4>南韓調適行動重點</h4>
            <p>繼第一期「國家氣候變遷調適綱要計畫 (2011-2015)」後，南韓於2015年12月22日公佈第二期「<a href="http://www.me.go.kr/home/web/policy_data/read.do?menuId=10262&seq=6656" target="_blank" title="另開視窗">國家氣候變遷調適綱要計畫（National Climate Change Adaptation Master Plan 2016-2020）</a>」，規劃未來五年之氣候變遷調適方向及原則。第二期國家氣候變遷調適綱要計畫規劃以不同部門分別對氣候變遷之衝擊採取管理措施，將減少社會、經濟、環境等面向氣候風險之作為最終目標，並以「透過氣候變遷調適，建構安全社會，實現國民之幸福」為願景，根據科學性風險管理、建構安全社會、確保產業界競爭力、自然資源永續管理4大政策與完成國內外執行基礎來擬定長、短期目標。並從 2017年舉辦各地區之民間諮詢會，落實自中央至地方之氣候變遷調適訂定、執行與檢討，有效提升政策執行成效與溝通。</p>
            <p>
                南韓的氣候變遷調適計畫是強制而非自願性計畫，總體規劃了國家綠色成長策略中氣候變遷調適的領域和作為，是中央和地方政府制定詳細行動計畫時的指導原則。每年數據會反映氣候變遷的監測評估結果，政府根據結果修訂或補充該計畫。城市和地方政府根據中央政府公布的氣候變遷調適計畫，制定聯合中央和地方政府的系統性氣候變遷調適制度。
            </p>
            <h4>調適項目策略</h4>
            <p>南韓以建構安全社會及氣候變遷調適促進綠色成長為願景，設立十大調適項目，包括基礎層級及部會層級的調適計畫，其中部會層級包括衛生、災害、農業、森林、海洋資源、水資源及生物多樣性，如下圖所示。</p>
            <div class="text-center">
                <img src="~/_x/img/know/korea02.jpg" />
            </div>
            
            @*<div class="text-center">
            <img src="~/_x/img/know/Korea01.png" alt="南韓" title="南韓" />
        </div>
        <div >
            <ul style="font-size:19px">
                <li>Vision 目標</li>
                <li>Establishment of a Safe Society & Support for Green Growth through Climate change Adaptation = 建構安全社會 & 經由氣候變遷調適支持綠色成長</li>
                <li>Sectoral Adaptation Plans = 部會調適計畫</li>
                <li>Adaptation Based Plans = 基礎調適計畫</li>
            </ul>
        </div>*@
            <table class="table table-striped ulstr">
                <thead>
                    <tr>
                        <th class="text-center">項 目</th>
                        <th class="text-center">策 略 重 點</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle text-center">衛生</td>
                        <td>
                            <ul>
                                <li>保護民眾免受熱浪與空污的侵害</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">災害</td>
                        <td>
                            <ul>
                                <li>堅實防災基礎，將災害帶來的傷害減到最低</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">農業</td>
                        <td>
                            <ul>
                                <li>轉型成調適為主的農業系統並創造新契機</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">林業</td>
                        <td>
                            <ul>
                                <li>強化森林健康，減少森林災害</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">沿岸/海洋資源</td>
                        <td>
                            <ul>
                                <li>因應海平面上升，保全穩定的海洋資源</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">水資源</td>
                        <td>
                            <ul>
                                <li>建造防洪防旱的水資源管理系統</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">生物多樣性</td>
                        <td>
                            <ul>
                                <li>回復、保護生態以保全生物多樣性</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">氣候變遷預測</td>
                        <td>
                            <ul>
                                <li>提供基礎數據，將不確定性減到最低</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">調適產業/能源</td>
                        <td>
                            <ul>
                                <li>為氣候變遷調適找到新且有前景的企業</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">教育/推廣/國際合作</td>
                        <td>
                            <ul>
                                <li>加強國內與國際間關於調適的交流</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            @*<h4>調適政策目標與架構</h4>
        <div class="text-center">
            <img src="~/_x/img/know/Korea02.png" alt="南韓" title="南韓" />
        </div>
        <table class="table table-striped" style="font-size:19px;">
            <thead>
                <tr>
                    <th class="text-center">Vision</th>
                    <th class="text-center">目 標</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle text-center">To the world’s seventh largest green power by 2020 and the world’s fifth largest green power by 2050</td>
                    <td>
                        <ul>
                            <li>2020年成為世界第七大綠色強國，2050年成為世界第五大綠色強國</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">Three major strategies and ten policy directions</td>
                    <td>
                        <ul>
                            <li>三大策略和十大政策方向</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">Climate change adaptation and energy independence</td>
                    <td>
                        <ul>
                            <li>氣候變遷調適和能源獨立</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">1.Efficient reduction of greenhouse gas emissions</td>
                    <td>
                        <ul>
                            <li>1.有效減少溫室氣體排放</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">2.Reduction of petroleum use and reinforce energy independence</td>
                    <td>
                        <ul>
                            <li>2.減少石油使用和加強能源獨立性</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">3.Expand capabilities to adapt to climate change</td>
                    <td>
                        <ul>
                            <li>3.擴大氣候變遷調適能力</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">Creation of new growth engine</td>
                    <td>
                        <ul>
                            <li>創造新成長引擎</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">1.Develop green technology as growth engine</td>
                    <td>
                        <ul>
                            <li>1.發展綠色技術作為成長引擎</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">2.Making industries eco-friendly and developing green industries</td>
                    <td>
                        <ul>
                            <li>2.使工業環保，發展綠色產業</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">3.Raising the industrial structure to an advanced level</td>
                    <td>
                        <ul>
                            <li>3.將產業結構提升至先進水準</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">4.Laying the cornerstone for green economy</td>
                    <td>
                        <ul>
                            <li>4.為綠色經濟奠定基礎</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">Improving the quality of life and raising the status of the nation</td>
                    <td>
                        <ul>
                            <li>提高生活品質，提高國家地位</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">1.Green land and transportation</td>
                    <td>
                        <ul>
                            <li>1.綠色土地和交通</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">2.Green revolution of life</td>
                    <td>
                        <ul>
                            <li>2.綠色生命革命</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">3.World’s leading country pursuing a green growth paradigm</td>
                    <td>
                        <ul>
                            <li>3.成為追求綠色成長模式的世界領先國</li>
                        </ul>
                    </td>
                </tr>

            </tbody>
        </table>
        <h4>調適策略施行層級</h4>
        <div class="text-center">
            <img src="~/_x/img/know/Korea03.png" alt="南韓" title="南韓" />
        </div>
        <table class="table table-striped" style="font-size:19px;">
            <thead>
                <tr>
                    <th class="text-center">Localgovernments</th>
                    <th class="text-center">地方政府</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle text-center">Establishment of detailed action plans</td>
                    <td>
                        <ul>
                            <li>制定詳細行動計劃</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">Internal evaluation of implementation (yearly)</td>
                    <td>
                        <ul>
                            <li>內部評估實施狀況（每年）</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">Communication with local residents</td>
                    <td>
                        <ul>
                            <li>與當地居民溝通</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">Central government</td>
                    <td>
                        <ul>
                            <li>中央政府</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">Establishment of detailed action plans</td>
                    <td>
                        <ul>
                            <li>制定詳細行動計劃</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">Internal evaluation of implementation (yearly)</td>
                    <td>
                        <ul>
                            <li>內部評估實施狀況（每年）</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">Comprehensive evaluation in the 3rd and 5th years</td>
                    <td>
                        <ul>
                            <li>第3年和第5年的綜合評估</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">The public</td>
                    <td>
                        <ul>
                            <li>公眾</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">Cooperation with the central government and local governments for the implementation of plans</td>
                    <td>
                        <ul>
                            <li>與中央及地方政府合作實施計劃</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center">Put the plans into practice in everyday life</td>
                    <td>
                        <ul>
                            <li>在日常生活中實施計劃</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <h4>韓國氣候變遷調適中心（KACCC）與各組織之合作架構</h4>
        <div class="text-center">
            <img src="~/_x/img/know/Korea04.png" alt="南韓" title="南韓" />
        </div>
        <table class="table table-striped" style="font-size:19px;">

            <tbody>
                <tr>
                    <td class="align-middle text-center">Collaboration of the Korea Adaptation Center of Climate change (KACCC) with various organizations</td>
                    <td>
                        <ul>
                            <li>韓國氣候變遷調適中心（KACCC）與各組織之合作架構</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Climate Change Monitoring and Prediction</li>
                            <li>National Institute of Environmental Research</li>
                            <li>National Institute of Meteorological Research</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>氣候變遷監測與預測</li>
                            <li>國立環境研究所</li>
                            <li>國家氣象研究所</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>
                        <ul>
                            <li>Coast/Fishery</li>
                            <li>Korea Ocean Research & Development Institute</li>
                            <li>National Fisheries Research & Development Institute</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>海岸/漁業</li>
                            <li>韓國海洋研究與發展研究所</li>
                            <li>國家漁業研究與發展研究所</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Agriculture</li>
                            <li>National Academy of Agriculture Science</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>農業</li>
                            <li>國家農業科學院</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Forest</li>
                            <li>Korea Forest Research Institute</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>森林</li>
                            <li>韓國森林研究所</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Ecosystem </li>
                            <li>National Institute of Environmental Research</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>生態系統</li>
                            <li>國立環境研究所</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Water Resources</li>
                            <li>National institute of Environmental Research</li>
                            <li>K Water</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>水資源</li>
                            <li>國立環境研究所</li>
                            <li>韓國水資源公社</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Health</li>
                            <li>National Institute of Environmental Research</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>健康</li>
                            <li>國立環境研究所</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Disaster</li>
                            <li>National Institute for Disaster Prevention</li>
                            <li>Korea Research Institute for Human Settlements</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>災害</li>
                            <li>國家防災研究所</li>
                            <li>韓國人文研究所</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Community</li>
                            <li>Research Institute for Gangwon</li>
                            <li>Jeju Development Institute</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>社區</li>
                            <li>江原道發展研究所</li>
                            <li>濟州發展研究院</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Adaptation industry/Energy</li>
                            <li>Business Institute for Sustainable Development</li>
                            <li>SK Energy, Korea University, Kolon Benit</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>調適產業/能源</li>
                            <li>永續發展商業研究所</li>
                            <li>SK Energy，韓國大學，Kolon Benit</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Ministry of Environment</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>環境部</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Presidential Committee on Green Growth</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>總統綠色成長委員會</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>International Organizations & Institutes</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>國際組織與研究所</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>UNEP, SEI, APCC</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>UNEP (聯合國環境規劃署), SEI (斯德哥爾摩環境研究中心), APCC (APEC氣候中心)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Korea Environment Institute [KE]</li>
                            <li>Korea Adaptation Center for Climate Change [KACCC]</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>韓國環境研究所</li>
                            <li>韓國氣候變遷調適中心</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>*@
        </main>
        <div class="col-lg-2"></div>
    </div>
</div>
@section styles {
    <style>
        h4 {
            font-weight: bold;
             color: #129696
        }
        h4~p{
            margin-left:45px;
        }

        /*h5 {
            font-weight: bold;
        }*/

        .ccis_Detail img {
            width: 70%;
            border-radius: 5px;
            max-width: 945px;
        }

        .ulstr {
            list-style-type: none;
            font-size: 19px;
        }

        table tr td ul {
            margin-bottom: 0;
        }
          /*p {
            padding-left: 3rem;
        }*/
    </style>
}
