<div>
    <img alt="結算結果進度-基本訊息-已完成0%" style="width:100%" src="~/_x/img/carbontool/carbontoolbar01.gif" />   
</div>
<form>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>
                請問您家中共有幾位成員?
            </label>
            <input class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="inputPassword4">
                請問您的居住地?
            </label>
            <select class="form-control">
                <option value="63000">臺北市</option>
                <option value="10001">新北市</option>
                <option value="10019">臺中市</option>
                <option value="10021">臺南市</option>
                <option value="64000">高雄市</option>
                <option value="10002">宜蘭縣</option>
                <option value="10003">桃園市</option>
                <option value="10004">新竹縣</option>
                <option value="10005">苗栗縣</option>
                <option value="10007">彰化縣</option>
                <option value="10008">南投縣</option>
                <option value="10009">雲林縣</option>
                <option value="10010">嘉義縣</option>
                <option value="10013">屏東縣</option>
                <option value="10014">臺東縣</option>
                <option value="10015">花蓮縣</option>
                <option value="10016">澎湖縣</option>
                <option value="10017">基隆市</option>
                <option value="10018">新竹市</option>
                <option value="10020">嘉義市</option>
                <option value="09020">金門縣</option>
                <option value="09007">連江縣</option>
            </select>
        </div>
    </div>
    @*<div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>*@
    <a href="~/media/CarbonTool" class="btn btn-primary">回碳足跡計算器首頁</a>
    <a href="~/media/CarbonTool/2" class="btn btn-primary">下一步</a>
</form>
