<div>
    <img alt="結算結果進度-食-已完成20%" style="width:100%" src="~/_x/img/carbontool/carbontoolbar02.gif" />
</div>
<form class="step2">
    <div class="form-group">
        <label>請問您(含家庭成員)上個月共食用：</label>
    </div>
    <div class="form-inline mb-2">
        <label>牛肉</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2" placeholder="1碗牛肉麵,牛肉約0.25公斤">
        <label>公斤=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <div class="form-inline mb-2">
        <label>豬肉</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2" placeholder="1碗爌肉飯,爌肉約0.2公斤">
        <label>公斤=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <div class="form-inline mb-2">
        <label>雞肉</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2" placeholder="1份雞排,雞肉約0.2公斤">
        <label>公斤=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <div class="form-inline mb-2">
        <label>魚肉</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2" placeholder="1條魚,約0.2公斤">
        <label>公斤=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <div class="form-inline mb-2">
        <label>豆腐</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2" placeholder="1盒嫩豆腐,約0.3公斤">
        <label>公斤=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    @*<div class="form-inline mb-2">
        <label>蝦肉</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2" placeholder="1碗牛肉麵,牛肉約0.25公斤">
        <label>公斤=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>*@
    <div class="form-inline mb-2">
        <label>雞蛋</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2" placeholder="1顆約0.06公斤">
        <label>公斤=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <div class="form-inline mb-2">
        <label>米飯</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2" placeholder="1碗約0.072公斤">
        <label>公斤=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    @*<div class="form-inline mb-2">
            <label>麵粉</label>
            <input type="text" class="form-control ml-sm-2 mr-sm-2" placeholder="1碗約0.075公斤">
            <label>公斤=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
        </div>*@
    <div class="form-inline mb-2">
        <label>牛奶</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2" placeholder="1杯牛奶,約0.24公升">
        <label>公斤=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <div class="form-inline mb-2">
        <label>蕃茄</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2" placeholder="1顆約0.15公斤">
        <label>公斤=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <a href="~/media/CarbonTool/1" class="btn btn-primary">上一步</a>
    <a href="~/media/CarbonTool/3" class="btn btn-primary">下一步</a>
</form>