<div>
    <img alt="結算結果進度-住-已完成60%" style="width:100%" src="~/_x/img/carbontool/carbontoolbar04.gif" />
</div>
<form class="step2">
    <div class="form-group">
        <label>
            請問您(含家庭成員)上個月的使用量為：(每月)請將電、水費單 [使用度數]÷2 填入
            <a href="~/media/exp" title="另開新視窗"  target="_blank">點我看說明</a>
        </label>
    </div>
    <div class="form-inline mb-2">
        <label>
            用電度數
        </label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2"placeholder="ex:1">
        <label>=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <div class="form-inline mb-2">
        <label>用水度數</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2"placeholder="ex:1">
        <label>=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <div class="form-inline mb-2">
        <label>瓦斯度數</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2"placeholder="ex:1">
        <label>=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>   
    <a href="~/media/CarbonTool/3" class="btn btn-primary">上一步</a>
    <a href="~/media/CarbonTool/5" class="btn btn-primary">下一步</a>
</form>