<div>
    <img alt="結算結果進度-行-已完成80%" style="width:100%" src="~/_x/img/carbontool/carbontoolbar05.gif" />
</div>
<form class="step5">
    <div class="form-group">
        <label>
            請問您(含家庭成員)上個月的通勤交通情形：
        </label>
    </div>
    <div class="form-inline mb-2">
        <label>
            駕駛汽車
        </label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2"placeholder="ex:1">
        <label>
            公里
            平均油耗
        </label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2"placeholder="ex:1">
        <label>公里/公升=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <div class="form-inline mb-2">
        <label>駕駛貨車</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2"placeholder="ex:1">
        <label>
            公里
            平均油耗
        </label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2"placeholder="ex:1">
        <label>公里/公升=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <div class="form-inline mb-2">
        <label>騎乘機車</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2"placeholder="ex:1">
        <label>
            公里
            平均油耗
        </label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2"placeholder="ex:1">
        <label>公里/公升=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <div class="form-inline mb-2">
        <label>騎腳踏車</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2"placeholder="ex:1">
        <label>公里=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <div class="form-inline mb-2">
        <label>搭乘公車</label>
        <input type="text" class="form-control ml-sm-2 mr-sm-2"placeholder="ex:1">
        <label>公里=<span class="text-primary ml-sm-2 mr-sm-2">235</span>kgCO<sub>2</sub>e</label>
    </div>
    <a href="~/media/CarbonTool/4" class="btn btn-primary">上一步</a>
    <a href="~/media/CarbonTool/6" class="btn btn-primary">完成</a>
</form>