<div >
    <img alt="結算結果進度-結果呈現-已完成100%" style="width:100%" src="~/_x/img/carbontool/carbontoolbar06.gif" />
    <a href="~/media/CarbonTool/1"><img style="width:100%" src="~/_x/img/carbontool/carboon_tree.png" /></a>
     <div style="text-align:right; margin-right: 2.25rem !important;" > <a  title="另開新視窗"  target="_blank" href="https://cfp.epa.gov.tw/carbon/ezCFM/Function/PlatformInfo/FLActivity/CarbonTips.aspx"><input type="button" class="btn btn-outline-info" value="省碳秘訣請按我"/></a> </div>
</div>

@*<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">                
                <img src="~/_x/img/carbontool/carbonboxFood.png" />
            </div>
            <div class="col-md-6">
                <img src="~/_x/img/carbontool/carbonboxClothing.png" />
            </div>
            <div class="col-md-6">
                <img src="~/_x/img/carbontool/carbonboxHousing.png" />
            </div>
            <div class="col-md-6">               
                <img src="~/_x/img/carbontool/carbonboxTransportation.png" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
       right
    </div>
</div>*@
