<link href="~/_x/css/menu.css" rel="stylesheet">


<nav class="col-md-2 ">
    <div class="text-center">
        <button class="navbar-toggler d-md-none" style="width:100%" type="button" data-toggle="collapse" data-target="#leftmenu" aria-controls="mediamenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only-focusable " style="color:aliceblue"><i style="font-size:20px;">&equiv;</i>&emsp; 宣傳資源子選單</span>
        </button>
    </div>

    <ul class="collapse list-group d-md-block" id="leftmenu">
        <li class="list-group-item ccis_li_root "><a href="~/media/carbontool">碳足跡計算器</a></li>
        <li class="list-group-item ccis_li_root "><a href="~/energystar/index">能源之星</a></li>
        @*<li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="~/media/download">能源之星標章計畫</a></li>
                <li><a href="~/media/second">能源之星標章申請</a></li>
                <li><a href="~/media/second">能源標章產品資訊</a></li>
                <li class="pl-3"><a href="~/know/pact1">▶標章廠商</a></li>
                <li class="pl-3"><a href="~/know/pact2">▶產品搜尋</a></li>
                <li><a href="~/media/second">常見問答</a></li>
                <li><a href="~/media/second">國際合作夥伴網站</a></li>
                <li class="pl-3"><a href="https://www.energystar.gov/" target="_blank" title="另開視窗(Energy Star)">▶美國</a></li>
                <li class="pl-3"><a href="https://www.energystar.go.jp/" target="_blank" title="另開視窗(International Energy Star Program)">▶日本</a></li>
                <li class="pl-3"><a href="https://www.nrcan.gc.ca/home" target="_blank" title="另開視窗(Goverment of Canada)">▶加拿大</a></li>
            </ul>
        </li>*@
        <li class="list-group-item ccis_li_root "><a href="~/media/Detail_Sub_Sub">檔案下載</a></li>
        <li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="~/media/download">桌布下載</a></li>
                <li><a href="~/media/second">氣候變遷圖解</a></li>
            </ul>
        </li>

        <li class="list-group-item ccis_li_root "><a href="~/media/movie">相關影音</a></li>
        <li class="list-group-item ccis_li_root"><a href="~/media/poster">相關海報</a></li>
        <li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="~/media/poster2">低碳生活</a></li>
                <li><a href="~/media/poster3">住商部門</a></li>
                <li><a href="~/media/poster4">辦公相關</a></li>
            </ul>
        </li>
        <li class="list-group-item ccis_li_root "><a href="~/media/cartoon">氣候變遷漫畫</a></li>

    </ul>



</nav>

@*<nav class="col-md-2 d-none d-md-block sidebar">
        <ul class="list-group" style="list-style-type:none">
            <li class="list-group-item"><a href="~/media/CarbonTool">碳足跡計算器</a></li>
            <li class="list-group-item"><a href="~/media/DownLoad">檔案下載</a></li>
            <li class="list-group-item"><a href="~/media/Movie">相關影音</a></li>

            <li>
                <div class="dropdown">
                    <a style="color:aliceblue; font-size:19px;" href="#" class="list-group-item dropdown-toggle" data-toggle="dropdown">
                        氣候變遷漫畫
                    </a>
                    <div class="dropdown-menu ">
                        <div class="list-group text-center" id="list-tab" role="tablist" style="width:100%;">
                            <a class=" list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home">時過境遷</a>
                            <a class=" list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile">減碳雙熊的由來</a>
                            <a class=" list-group-item-action" id="list-profile-list1" data-toggle="list" href="#list-profile2">面對全球暖化</a>
                            <a class=" list-group-item-action" id="list-profile-list2" data-toggle="list" href="#list-profile3">節能減碳家電篇</a>
                        </div>

                    </div>
                </div>


            </li>

        </ul>



    </nav>*@