@{

    ViewData["title"] = "桌布下載";
}
<nav class="d-none d-lg-block pl-3">
    <ol class="breadcrumb" style="font-size:19px; padding:0rem; margin-bottom: 0rem; background-color:transparent;">
        <li class="breadcrumb-item "><a href="~/home/index"><img class="pb-1" src="~/_x/img/index_house.png" alt="" title="首頁" />首頁</a></li>
        <li class="breadcrumb-item "><a href="~/media/Detail_Sub">宣傳資源</a></li>
        <li class="breadcrumb-item "><a href="~/media/Detail_Sub_Sub">檔案下載</a></li>
        <li class="breadcrumb-item ">桌布下載</li>

    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        @{
            @await Html.PartialAsync("_Menu")
        }
        <main role="main" class="col-md-10 mx-sm-auto col-lg-9 pt-3  ccis_Detail" >
            @*<main role="main" class="col-md-10 ml-sm-auto col-lg-8 pt-3 px-4">*@
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom" id="content">
                    <h2 class="h2">檔案下載</h2>
                    @*<div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <a class="btn btn-sm btn-outline-secondary">|＜</a>
                            <a class="btn btn-sm btn-outline-secondary">＜</a>
                        </div>
                        <div class="btn-group mr-2">
                            <a class="btn btn-sm btn-outline-secondary active">1</a>
                            <a class="btn btn-sm btn-outline-secondary">2</a>
                            <a class="btn btn-sm btn-outline-secondary">3</a>
                            <a class="btn btn-sm btn-outline-secondary">4</a>
                            <a class="btn btn-sm btn-outline-secondary">5</a>
                        </div>
                        <div class="btn-group mr-2">
                            <a class="btn btn-sm btn-outline-secondary">＞</a>
                            <a class="btn btn-sm btn-outline-secondary">＞|</a>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                This week
                            </button>
                    </div>*@
                </div>

                <div class="row mediainfo">
                    <div class="col-lg-4">
                        <a href="~/_x/img/Desktop/1.多吃蔬食_1440_900.jpg" download="(桌布)多吃蔬食少吃肉.jpg"><img src="~/_x/img/Desktop/1.多吃蔬食_s.jpg" alt="(桌布)多吃蔬食少吃肉" title="下載檔案(多吃蔬食少吃肉.jpg)" /></a>
                        <p style="text-align:center">
                            (桌布)多吃蔬食少吃肉
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <a href="~/_x/img/Desktop/2.自備杯筷_1440_900.jpg" download="(桌布)自備杯筷帕與袋.jpg"><img src="~/_x/img/Desktop/2.自備杯筷_s.jpg" alt="(桌布)自備杯筷帕與袋" title="下載檔案(自備杯筷帕與袋.jpg)" /></a>
                        <p style="text-align:center">
                            (桌布)自備杯筷帕與袋
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <a href="~/_x/img/Desktop/3.冷氣_1440_900.jpg" download="(桌布)冷氣控溫不外洩.jpg"><img src="~/_x/img/Desktop/3.冷氣_s.jpg" alt="(桌布)冷氣控溫不外洩" title="下載檔案(冷氣控溫不外洩.jpg)" /></a>
                        <p style="text-align:center">
                            (桌布)冷氣控溫不外洩
                        </p>
                    </div>

                    <div class="col-lg-4">
                        <a href="~/_x/img/Desktop/4.節能_1440_900.jpg" download="(桌布)節能省水更省錢.jpg"><img src="~/_x/img/Desktop/4.節能_s.jpg" alt="(桌布)節能省水更省錢" title="下載檔案(節能省水更省錢.jpg)" /></a>
                        <p style="text-align:center">
                            (桌布)節能省水更省錢
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <a href="~/_x/img/Desktop/5.惜用_1440_900.jpg" download="(桌布)惜用資源顧地球.jpg"><img src="~/_x/img/Desktop/5.惜用_s.jpg" alt="(桌布)惜用資源顧地球" title="下載檔案(惜用資源顧地球.jpg)" /> </a>
                        <p style="text-align:center">
                            (桌布)惜用資源顧地球
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <a href="~/_x/img/Desktop/6.每周_1440_900.jpg" download="(桌布)每周一天不開車.jpg"><img src="~/_x/img/Desktop/6.每周_s.jpg" alt="(桌布)每周一天不開車" title="下載檔案(每周一天不開車.jpg)" /></a>
                        <p style="text-align:center">
                            (桌布)每周一天不開車
                        </p>
                    </div>


                    <div class="col-lg-4">
                        <a href="~/_x/img/Desktop/7.綠色_1440_900.jpg" download="(桌布)綠色採購看標章.jpg"><img src="~/_x/img/Desktop/7.綠色_s.jpg" alt="(桌布)綠色採購看標章" title="下載檔案(綠色採購看標章.jpg)" /></a>
                        <p style="text-align:center">
                            (桌布)綠色採購看標章
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <a href="~/_x/img/Desktop/8.隨手關燈_1440_900.jpg" download="(桌布)隨手關燈拔插頭.jpg"><img src="~/_x/img/Desktop/8.隨手關燈_s.jpg" alt="(桌布)隨手關燈拔插頭" title="下載檔案(隨手關燈拔插頭.jpg)" /></a>
                        <p style="text-align:center">
                            (桌布)隨手關燈拔插頭
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <a href="~/_x/img/Desktop/9.鐵馬步行_1440_900.jpg" download="(桌布)鐵馬步行兼保健.jpg"><img src="~/_x/img/Desktop/9.鐵馬步行_s.jpg" alt="(桌布)鐵馬步行兼保健" title="下載檔案(鐵馬步行兼保健.jpg)" /></a>
                        <p style="text-align:center">
                            (桌布)鐵馬步行兼保健
                        </p>
                    </div>
                </div>

            </main>
            <div class="col-lg-1"></div>
    </div>
</div>

@section styles {
    <style>
        .mediainfo img {
            width: 100% !important;
            margin-bottom: 5px;
            border-radius: 10px;
        }

        p {
            font-size: 19px;
            font-family: 'Microsoft JhengHei';
            color: cadetblue;
        }
    </style>
}

