@{
    ViewData["title"] = "氣候變遷圖解";
}
<nav class="d-none d-lg-block pl-3">
    <ol class="breadcrumb" style="font-size:19px; padding:0rem; margin-bottom: 0rem; background-color:transparent;">
        <li class="breadcrumb-item "><a href="~/home/index"><img class="pb-1" src="~/_x/img/index_house.png" alt="" title="首頁" />首頁</a></li>
        <li class="breadcrumb-item "><a href="~/media/Detail_Sub">宣傳資源</a></li>
        <li class="breadcrumb-item "><a href="~/media/Detail_Sub_Sub">檔案下載</a></li>
        <li class="breadcrumb-item ">氣候變遷圖解</li>

    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        @{
            @await Html.PartialAsync("_Menu")
        }
        <main role="main" class="col-md-10 mx-sm-auto col-lg-9 pt-3  ccis_Detail" >
            @*<main role="main" class="col-md-10 ml-sm-auto col-lg-8 pt-3 px-4  ccis_Detail">*@
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom" id="content">
                    <h2 class="h2">氣候變遷圖解</h2>

                </div>
                <div class="row">
                    <div class="col-lg-4  ">
                        <a href="~/_x/img/media/Second01.jpg" download="(氣候變遷圖解)減緩與調適秒懂圖.jpg"><img src="~/_x/img/media/Second01.jpg" alt="(氣候變遷圖解)減緩與調適秒懂圖" title="下載檔案(減緩與調適秒懂圖.jpg)" /></a>
                        <p style="text-align:center">
                            <strong>減緩與調適圖解</strong>
                        </p>
                    </div>

                    <div class="col-lg-4">
                        <a href="~/_x/img/media/Second03.jpg" download="(氣候變遷圖解)日常生活減少CO2排放作為.jpg"><img src="~/_x/img/media/Second03.jpg" alt="(氣候變遷圖解)日常生活減少CO2排放作為" title="下載檔案(日常生活減少CO2排放作為.jpg)" /></a>
                        <p style="text-align:center">
                            <strong>日常生活減少CO<sub>2</sub>排放作為</strong>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <a href="~/_x/img/media/Second04.jpg" download="(氣候變遷圖解)冷氣省電4妙招.jpg"><img src="~/_x/img/media/Second04.jpg" alt="(氣候變遷圖解)冷氣省電4妙招" title="下載檔案(冷氣省電4妙招.jpg)" /></a>
                        <p style="text-align:center">
                            <strong>冷氣省電4妙招</strong>
                        </p>
                    </div>



                    <div class="col-lg-4">
                        <a href="~/_x/img/know/weather0626.jpg" download="(氣候變遷圖解)天氣與氣候"><img src="~/_x/img/know/weather0626.jpg" alt="(氣候變遷圖解)天氣與氣候" title="下載檔案(天氣與氣候.jpg)" /></a>
                        <p style="text-align:center">
                            <strong>天氣與氣候</strong>
                        </p>
                    </div>

                    @*<div class="col-lg-4">
                        <a href="~/_x/img/act/act02.jpg" download="(氣候變遷圖解)人為因素增加全球暖化"><img src="~/_x/img/act/act02.jpg" alt="(氣候變遷圖解)人為因素增加全球暖化" title="下載檔案(人為因素增加全球暖化.jpg)" /></a>
                        <p style="text-align:center">
                            <strong>人為因素增加全球暖化</strong>
                        </p>
                    </div>*@
                    <div class="col-lg-4">
                        <a href="~/_x/img/act/act01_0.jpg" download="(氣候變遷圖解)減緩及調適因應作為"><img src="~/_x/img/act/act01_0.jpg" alt="(氣候變遷圖解)減緩及調適因應作為" title="下載檔案(減緩及調適因應作為.jpg)" /></a>
                        <p style="text-align:center">
                            <strong>減緩及調適因應作為</strong>
                        </p>
                    </div>

                    <div class="col-lg-4">
                        <a href="~/_x/img/act/低碳飲食原則.png" download="(氣候變遷圖解)低碳飲食原則"><img src="~/_x/img/act/低碳飲食原則.png" alt="(氣候變遷圖解)低碳飲食原則" title="下載檔案(低碳飲食原則.png)" /></a>
                        <p style="text-align:center">
                            <strong>低碳飲食原則</strong>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <a href="~/_x/img/know/k3_1.jpg" download="(氣候變遷圖解)生活中之氣候變遷減緩作為"><img src="~/_x/img/know/k3_1.jpg" alt="(氣候變遷圖解)生活中之氣候變遷減緩作為" title="下載檔案(生活中之氣候變遷減緩作為.jpg)" /></a>
                        <p style="text-align:center">
                            <strong>生活中之氣候變遷減緩作為</strong>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <a href="~/_x/img/know/k1.jpg" download="(氣候變遷圖解)溫室效應發生原理"><img src="~/_x/img/know/k1.jpg" alt="(氣候變遷圖解)溫室效應發生原理" title="下載檔案(溫室效應發生原理.jpg)" /></a>
                        <p style="text-align:center">
                            <strong>溫室效應發生原理</strong>
                        </p>
                    </div>

                    <div class="col-lg-4">
                        <a href="~/_x/img/know/Kyoto.jpg" download="(氣候變遷圖解)京都議定書減量機制"><img src="~/_x/img/know/Kyoto.jpg" alt="(氣候變遷圖解)京都議定書減量機制" title="下載檔案(京都議定書減量機制.jpg)" /></a>
                        <p style="text-align:center">
                            <strong>京都議定書減量機制</strong>
                        </p>
                    </div>
                </div>



            </main>
            <div class="col-lg-1"></div>
    </div>
</div>

@section styles {
    <style>
        /*.mediainfo img {
            width: 100% !important;
            margin-bottom: 5px;
            b
        order-radius: 10px;
        }

        */
        .ccis_Detail img {
            width: 100%;
            margin-bottom: 5px;
            border-radius: 5px;
        }

        p {
            font-size: 19px;
            font-family: 'Microsoft JhengHei';
            color: cadetblue;
        }
    </style>
}

