
@{
    ViewData["Title"] = "DomesticNewsList3";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    @await Html.PartialAsync("_Nav1", "會議活動 >會議");
}
@*<script>
    var urlstr = window.location.href;
    var hkey_root, hkey_path, hkey_key
    hkey_root = "HKEY_CURRENT_USER"
    hkey_path = "//Software//Microsoft//Internet Explorer//PageSetup//"
    function pagesetup_null() {
        try {
            var RegWsh = new ActiveXObject("WScript.Shell")
            hkey_key = "header"
            RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "")
            hkey_key = "footer"
            RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "")
        } catch (e) { }
</script>*@

<div class="container-fluid">
    <div class="row">
        @{
            @await Html.PartialAsync("_Menu")
        }
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 ">
            @*<a target="_blank" href="http://facebook.com/share.php?u=" +urlstr><img style="min-width: 16px;" src="~/_x/img/iconfb-.png" /></a>
            <a target="_blank" href="http://line.me/R/msg/text/?"><img style="min-width: 16px;" src="~/_x/img/iconline-.png" /></a>
            <a href="#" onclick="pagesetup_null(); self.print();"><img style="min-width: 16px;" src="~/_x/img/iconpr-.png" /></a>
            <a target="_blank" href="http://www.twitter.com/home/?status=" +urlstr><img style="min-width: 16px;" src="~/_x/img/icontt-.png" /></a>*@

            <h2 class="h2">COP24會議三大任務勉強達標</h2>

            <div>

                <img src="~/_x/img/banner223.jpg" style="max-width:800px; width:100%" />


                <p style="font-size:16px; color:#808080">照片<a href="https://www.mofa.gov.tw/News_Content_M_2.aspx?n=8742DCE7A2A28761&sms=491D0E5BF5F4BC36&s=889526F2948381D1">來源</a>                    </p>
            </div>

            <p>
                聯合國氣候變化綱要公約 (UNFCCC) 第24屆締約國大會 (COP24) 於波蘭西南方小城卡托維治 (Katowice)展開。這次大會有四大目標，通過「《巴黎協定》規則手冊」(Paris Rulebook)、《巴黎協定》的執行初體檢、搶救「綠色氣候基金」(Green Climate Fund)、實踐「促進性對話」(Talanoa Dialogue)，可說是2015年《巴黎協定》通過以來，能否能有效執行的關鍵。
            </p>
            <p>
                來自全球的195國官方代表、數千名非政府組織與學術研究專家、加上許多企業界和投資人士，於卡托維治 (Katowice)進行談判。2015年通過歷史性的《巴黎協定》，各國不但繳交了「國家自定預期貢獻」  (Intended Nationally Determined Contribution, INDC)，也同意將未來目標設定為「將致力於將增溫限制在攝氏2°C或1.5°C以下」。
            </p>

            <p>
                《巴黎協定》通過至今事隔三年，COP24第一次檢視各國從2015年到目前為止的國家減碳計畫 (INDC) 的制定進度以及執行概況，替未來的國際檢核機制熱身。不過，當時為順利達成共識，大會採取彈性原則，只明訂概括目標，卻尚未談妥執行方式與細節，因此COP24是《巴黎協定》能否有效執行的關鍵。
            </p>
            <h4> 三大任務檢視，COP24勉強達標    </h4>

            <strong>一、制訂「規則手冊」(Paris Rulebook)：</strong>
            <p>COP24最重要任務就是訂出《巴黎協定》規則手冊。在最後關頭成功壓線繳出「卡托維茲文件」(Katowice Package)。原定預於12/14結束的會議，徹夜鏖戰到隔日凌晨，最後通過大部分「巴黎協定工作計畫」(PAWP) 內容，在透明度、財務支持、技術轉移、減緩、調適、全球盤點等部分達成共識。至於草案第六條觸及碳交易市場的部份，因巴西主張減碳量列入「國家自主貢獻」(Nationally Determined Contributions, NDC)」，之後仍可進入碳市場交易、變現，被其他國家認為有重覆計算的爭議，只能留待延明年再做討論。</p>
            <strong>二、《巴黎協定》執行初體檢：</strong>
            <p>本屆各國多把多數精力都花費在辯論規則手冊內容，對於NDC的檢驗與強化顯得意興闌珊，除了歐盟執行委員會 (European Commission) 會前發表2050年「碳中和」目標之外，其他國家幾乎都繳了白卷。</p>
            <strong>三、搶救氣候基金：</strong>
            <p>2010年墨西哥坎昆會議 (COP16) 通過的「綠色氣候基金」(Green Climate Fund)，目的是協助開發中國家，援助計畫分為「減碳」和「調適」兩大類從創建起就面臨資金短缺難題，COP24針對氣候行動最需要的融資協助有了不錯的進展。德國、挪威等國承諾加倍資注綠色氣候基金，聯合國「調適基金」(Adaptation Fund) 也收到1.29億美元的捐助，更重要的是，世界銀行承諾2021～25年將提供2000億美元的氣候融資，ING、BBVA、BNP Paribas、Standard Chartered及Société Générale五大國際金融業者，也簽署承諾書、未來打算端出高達2.4兆歐元的融資規劃。</p>
            <p>更多COP24資訊請<a href="https://unfccc.int/news/new-era-of-global-climate-action-to-begin-under-paris-climate-change-agreement-0">點我</a></p>
            <h4>相關新聞及整理：</h4>
            <ul>
                <li><a href="https://enews.epa.gov.tw/enews/fact_Newsdetail.asp?InputTime=1071218114047">對抗氣候變遷行動 臺灣展現多元活力</a></li>
                <li><a href="https://www.csronereporting.com/news/show/5311">波蘭我來了！30秒搞懂COP24</a></li>
                <li><a href="http://ddpp.ntu.edu.tw/selected-articles/foreign-news/561-cop24.html">COP24回顧與展望：在詭譎氣氛中匍匐前進</a></li>
                <li><a href="https://e-info.org.tw/node/215538">短評聯合國氣候談判COP24各國表現</a></li>
                <li><a href="https://www.csronereporting.com/news/show/5329">COP24會後研討會 各界專家分析最新局勢</a></li>
                <li><a href="https://www.gvm.com.tw/article.html?id=55474">台達前進COP24秀成果 分散式能源讓電網更穩定</a></li>
                <li><a href="http://time.com/5480146/climate-change-cop-24-paris-agreement/">The Paris Agreement Lives on at the U.N. Climate Change Conference. But Political Disruption Still Remains a Threat</a></li>
                <li>更多會議成果<a href="https://unfccc.int/katowice">點我</a></li>
            </ul>

        </main>
    </div>
</div>
@section styles {
    <style>
        h4 {
            color: #55b8ea;
            font-weight: bold;
        }

        p {
            margin: 5px;
        }

        h2 > .row > .col-md-4 {
            margin: 5px;
            padding-right: 5px;
        }

        strong {
            font-size: 18px;
        }
    </style>
}
