<link href="~/_x/css/menu.css" rel="stylesheet">
<nav class="col-md-2 d-none d-md-block sidebar">
    <ul class="list-group">
        <li class="list-group-item ccis_li_root"><a href="#">2019地球日系列活動</a></li>
  
    </ul>
</nav>