<link href="~/_x/css/menu.css" rel="stylesheet">
<nav class="col-md-2 d-none d-md-block sidebar">
    <ul class="list-group">
        <li class="list-group-item ccis_li_root"><a href="#">國家行動</a></li>
        <li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="~/home/Policy">減碳政策</a></li>
                <li><a href="~/know/detail4">調適策略</a></li>
                <li><a href="~/home/Performance">施政績效</a></li>
                <li><a href="~/home/Actionplan">六大部門溫管行動方案</a></li>
            </ul>
        </li>
        <li class="list-group-item ccis_li_root"><a href="#">企業盤查</a></li>
        <li class="list-group-item ccis_li_ch">
            <ul>
                <li><a href="~/home/GreenhouseGas">產業溫室氣體盤查管理</a></li>
                <li><a href="~/home/Emission">排放量申報暨盤查管理</a></li>
                <li><a href="~/home/Exchange">抵換專案</a></li>
                <li><a href="~/Energystar/Index">能源之星</a></li>
            </ul>  
        </li>
        @*<li class="list-group-item"><a href="~/know/Index/氣候變遷知識詞典">氣候變遷知識詞典</a></li>*@
        <li class="list-group-item ccis_li_root "><a href="#">全民宣導</a></li>
         <li class="list-group-item ccis_li_ch">

             <ul>

                 <li><a href="~/home/Perseverance">低碳永續家園</a></li>
                 <li><a href="~/Act/Hotel">氣候變遷全民行動</a></li>
                 <li><a href="~/home/Greenlife">綠色生活資訊</a></li>
                 <li><a href="https://opendata.epa.gov.tw/">環境資源資料開放平臺</a></li>
             </ul>
         </li>
    </ul>
</nav>