@*@{
    string name = "排放量申報暨盤查管理";
    @await Html.PartialAsync("_Nav1", name);
}

<div class="container-fluid">
    <div class="row">
        @{
            @await Html.PartialAsync("_Menu")
        }

        <main role="main" class="col-md-9 ml-sm-auto col-lg-8 pt-3 px-4">

            <h2 class="h2">排放量申報暨盤查管理</h2>

            使用fb分享 請取消註解

             <a class="my-auto mr-1" href="javascript: void(window.open('https://www.facebook.com/share.php?u='.concat(encodeURIComponent(location.href)),'fbwin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0' ));"><img src="~/_x/img/iconfb-.png" alt="臉書分享" title="臉書分享(另開視窗)" /></a>
             <a class="my-auto mr-1" href="javascript: void(window.open('https://line.me/R/msg/text/?','linewin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'));"><img src="~/_x/img/iconline-.png" alt="Line分享" title="Line分享(另開視窗)" /></a>
             <a class="my-auto notprint mr-1" href="#" onclick="window.print();"><img  src="~/_x/img/iconpr-.png" alt="列印" title="列印(另開視窗)" /></a>
             <a class="my-auto mr-1" href="javascript: void(window.open('http://twitter.com/home/?status='.concat(encodeURIComponent(document.title)) .concat(' ') .concat(encodeURIComponent(location.href)),'twitterwin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'));"><img  src="~/_x/img/icontt-.png" alt="推特分享" title="推特分享(另開視窗)" /></a>

            

            <div class="text-center">
                <img class="mb-3 " style="width:100%; max-width:800px ; border-radius:8px;" src="~/_x/img/Eission.png" alt="排放量申報暨盤查管理" title="排放量申報暨盤查管理" />
            </div>
            <p>
                我國推動產業溫室氣體盤查作業，主要係參考國際間ISO/CNS 14064-1及GHG Protocol溫室氣體盤查議定書規範，計算範疇一及範疇二之溫室氣體※排放，僅需鑑別範疇三之排放源：
            </p>

            <ul>
                <li>範疇一，係指直接溫室氣體排放，針對直接來自於組織所擁有或控制的排放源；</li>
                <li>範疇二，為能源間接排放源，係指來自於輸入電力、熱或蒸汽而造成間接之溫室氣體排放；</li>
                <li>範疇三，為其他間接排放源，由組織活動產生之溫室氣體排放，非屬能源間接溫室氣體排放，而係來自其他組織所擁有或控制的溫室氣體排放來源。</li>
            </ul>

            <p>
                一、溫室氣體排放量盤查登錄作業指引：為使產業執行盤查登錄作業時，有一套標準規範以資依循，本署已於民國105年完成編撰「溫室氣體排放量盤查登錄作業指引」，該指引可至國家溫室氣體登錄平台下載(網址：<a href="http://ghgregistry.epa.gov.tw" title="另開新視窗"  target="_blank">http://ghgregistry.epa.gov.tw</a>)。

            </p>

            <p>
                二、溫室氣體盤查登錄表單：已建立我國產業溫室氣體盤查登錄表單，並置於國家溫室氣體登錄平台網站上供各界查詢及下載 。除此之外，也將盤查所需之工具表單，如排放係數管理表，亦放置於國家登錄平台上供產業自行下載運用。

            </p>
   

        </main>
        <div  class="col-lg-2">    </div>
    </div>
</div>
@section styles {
    <style>
        h5 {
            font-weight: bold;
        }


        p {
            text-indent: 2em;
            font-size: 19px;
        }
        /*.ccis_Detail img {
            width: 70%;
            max-width: 945px;
        }*/
    </style>
}*@