@*@{
    string name = "施政績效";
    @await Html.PartialAsync("_Nav1", name);
}

<div class="container-fluid">
    <div class="row">
        @{
            @await Html.PartialAsync("_Menu")
        }

        <main role="main" class="col-md-9 ml-sm-auto col-lg-8 pt-3 px-4">

            <h2 class="h2">施政績效</h2>

        
            <div class="text-center">
                <img class="mb-3" style="width:100%; max-width:950px; border-radius:5px;" src="~/_x/img/108年3月份重大施政績效-01.jpg" alt="重大施政績效" title="重大施政績效" />
            </div>
            

            <div class="accordion " id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                108年03月份重大施政績效
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            （一）為使地方政府對於氣候變遷衝擊提出完整因應措施，及 持續推動「低碳永續家園」建構工作，於 3 月 20 日核定 補助地方政府辦理「108 年執行氣候變遷因應與低碳永續 行動項目實施專案」計 15 項計畫，總補助經費計 8,514 萬 7,000 元。
                             (二）3 月 26 日完成 107 年度地方環保局推動因應氣候變遷行 動績效之考評工作。臺北市、新北市、桃園市、臺中市、 臺南市、高雄市、宜蘭縣、新竹縣、彰化縣、南投縣、 嘉義縣、臺東縣、嘉義市及金門縣榮獲特優，鼓勵地方 政府積極推動因應氣候變遷行動，並建構低碳永續家 園。
                           </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                108年02月份重大施政績效
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            2 月 22 日行政院核定本署陳報「溫室氣體國家報告」，該報告彙集相關部會、地方政府、產業界及民間組織等近年來因應氣候變遷所做之努力與成果，包括我國溫室氣體排放吸收統計趨勢分析與預測、溫室氣體減量政策措施、氣候變遷衝擊影響及調適對策、氣象觀測及氣候變遷科學研究、技術研發需求及移轉、國際合作及交流、教育培訓及宣導等。<a href="https://www.epa.gov.tw/Page/5DB26A6DD5A58808">https://www.epa.gov.tw/Page/5DB26A6DD5A58808</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                108年01月份重大施政績效
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            1月 11 日修正發布「溫室氣體排放源符合效能標準獎勵 辦法」第 3 條、第 7 條及第 14 條。本次修正主要排除未執行溫室氣體減緩措施卻取得額度、刪除減緩措施需執行滿 12 個月之限制以及增訂效能標準施行前所執行減緩措施之申請期限等規定。
                            1 月 22 日召開「溫室氣體減量成效認可審議會第 9 次會 議」，辦理經專案小組審查完成案件，計 11 案（包括註冊申請 3 件、額度申請 3 件、計畫書變更 1 件及新減量方法 4 件

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                107年12月份重大施政績效
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            （一）行政院代表團於 12 月 2 日至 14 日赴波蘭卡托維茲參加 「聯合國氣候變化綱要公約第 24 次締約方大會」 (UNFCCC COP24)相關會議活動，本署配合外交部及駐波蘭代表處規劃安排，COP24 期間與我國友邦及友好國家共進行 38 場雙邊會談，署長親自出席其中 20 場，會晤多位總理、環境部長及國會議員等，並於 12 月 18 日與 外交部共同召開「聯合國氣候變化綱要公約第 24 次締約 方大會(UNFCCC COP24)返國記者會」，說明行政院代表 團參加 COP24 期間，國內各界多元參與情形、辦理雙邊交流活動與國際媒體專訪成果。
                            （二）於 12 月 19 日會銜經濟部公告「新設或變更溫室氣體排 放源排放量規模」，明定溫室氣體年排放量達 2.5 萬公噸 二氧化碳當量（CO2e）者，為未來總量管制新設業者之 列管條件，符合本公告條件者，應及早引入最佳可行技 術降低排放，為溫室氣體總量管制預作準備；另於 12 月 27 日修正發布「溫室氣體抵換專案管理辦法」，新增微型 規模抵換專案類別，申請者僅需論證減量非屬法規應遵 循事項即可提出，簡化申請作業程序，以鼓勵中小企業 等小型排放源，並擴及運輸及住商部門皆可參與，促進 各類型排放源減量技術發展。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                107年11月份重大施政績效
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                            11 月 13 日發布訂定「補助溫室氣體減量管理及氣候變遷調 適研究發展計畫作業辦法」，鼓勵國內大專校院與研究機構， 投入溫室氣體減量管理策略或氣候變遷調適相關研究。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" style="font-size:20px;" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                107年10月份重大施政績效
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                        <div class="card-body">
                            107年10月份重大施政績效
                            行政院於 10 月 3 日正式核定國家能源、製造、運輸、住 商、農業及環境等六大部門「溫室氣體排放管制行動方 案」，此為中央相關部會首次依「溫室氣體減量及管理法」 第 9 條第 3 項規定，訂定 107 年至 109 年的減碳具體行 動，搭配我國 109 年（西元 2020 年）溫室氣體排放量較 基準年 94 年（西元 2005 年）減量 2%的第一期溫室氣體 階段管制目標，共同勾勒出國家整體減碳策略藍圖。

                        </div>
                    </div>
                </div>
            </div>


        </main>
        <div class="col-lg-2">   </div>
    </div>
</div>
@section styles {
    <style>
        h5 {
            font-weight: bold;
        }
        .btn, .card-body {
            font-size: 19px;
        }
      


        p {
            text-indent: 2em;
            font-size: 19px;
        }
    
    </style>
}*@