@*@{
    string name = "低碳永續家園";
    @await Html.PartialAsync("_Nav1", name);
}

<div class="container-fluid">
    <div class="row">
        @{
            @await Html.PartialAsync("_Menu")
        }

        <main role="main" class="col-md-9 ml-sm-auto col-lg-8 pt-3 px-4">

            <h2 class="h2">低碳永續家園</h2>

            使用fb分享 請取消註解
        <a class="my-auto mr-1" href="javascript: void(window.open('https://www.facebook.com/share.php?u='.concat(encodeURIComponent(location.href)),'fbwin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0' ));"><img src="~/_x/img/iconfb-.png" alt="臉書分享" title="臉書分享(另開視窗)" /></a>
        <a class="my-auto mr-1" href="javascript: void(window.open('https://line.me/R/msg/text/?','linewin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'));"><img src="~/_x/img/iconline-.png" alt="Line分享" title="Line分享(另開視窗)" /></a>
        <a class="my-auto notprint mr-1" href="#" onclick="window.print();"><img  src="~/_x/img/iconpr-.png" alt="列印" title="列印(另開視窗)" /></a>
        <a class="my-auto mr-1" href="javascript: void(window.open('http://twitter.com/home/?status='.concat(encodeURIComponent(document.title)) .concat(' ') .concat(encodeURIComponent(location.href)),'twitterwin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'));"><img  src="~/_x/img/icontt-.png" alt="推特分享" title="推特分享(另開視窗)" /></a>


            

            <div class="text-center">
                <img class="mb-3 " src="~/_x/img/低碳永續家園行政運作機制圖.jpg" alt="低碳永續家園行政運作機制圖" title="低碳永續家園行政運作機制圖" />
                <p>
                    圖一、低碳永續家園示意圖
                </p>
            </div>
            <p>
                低碳城市發展是基於永續發展目標，核心概念乃是利用經濟成長、環境保護、生態保育、社會正義以及相關之政策來獲取多重效益，旨在降低碳排放並確保能源供需安全及因應環境衝擊。故須將永續概念融入低碳城市，若只著重於單一措施規劃，反而會增加整體的碳排放量。就生命週期與其觀點而言，應以整體層面來評估碳排放，並將永續發展定為最終目標；亦即低碳僅為其一子目標，且此子目標引導至最終目標。 環保署以低碳城市建構為基礎，延伸發展為永續社會之構想，並規劃「低碳永續家園」建構工作，提出建構目標，包含「生態綠化」、「綠能節電」、「綠色運輸」、「資源循環」、「低碳生活」與「永續經營」等運作機能及各項具體、可執行的行動項目。希望推廣國人參與低碳行動，透過日常生活中的參與體驗及身體力行，瞭解低碳行動的好處及重要性，並藉由具體達到的減碳效益賦予等級榮譽，促使國人積極投入低碳行動，以提高減碳效益。
            </p>
            <h5>誰可以參加評等?</h5>
            <p>目前是以縣(市)及、鄉鎮(市)區及村(里)層級參加評等。全國共計有8,241個單位可參與評等（詳如圖二）</p>
            <div class="text-center">
                <img src="~/_x/img/誰可以參加評等.jpg" alt="誰可以參加評等" title="誰可以參加評等" />
                <p>
                    圖二、誰可以參加評等
                </p>

            </div>
            <h5>如何參加評等? （如圖三所示）</h5>
            <ul class="font_b">
                <li>
                    籌組綠色團隊(人數至少3人)，並撰寫區域現況說明(內容包含歷史背景、區域人口產業特性、觀光景點、公共設施、其他特色等)。
                </li>
                <li>
                    於低碳永續家園資訊網首頁之報名專區進行網路註冊報名，經報名程序審查確認後，即可獲取系統核發的帳號密碼，完成網路報名。後續須持此帳號密碼，登入資訊網進行後續行動項目選擇以及確認評等等級。
                </li>
                <li>
                    取得銅級或銀級候選人資格後，有機會可接受北、中、南、東各區所提供的相關資源與輔導，針對行動項目執行面提出建議。
                </li>
                <li>
                    各參與單位於自訂可達成期限內，須完成所有行動項目之執行，並將所有行動項目相關成果彙整成一份成果文件。
                </li>
                <li>
                    完成行動項目執行後，須提交前述所提之成果文件(成果文件內容可參考低碳永續家員認證評等推動計畫附錄七的審查原則表單內容)，進行書面審查。若參與單位為縣(市)層級，則成果文件須由中央評等審查小組進行審查；若參與單位為鄉鎮(市)區或村(里)層級，則成果文件須由地方評等審查小組進行審查。若申請銀級評等之參與單位，除書面審查外，亦須額外接受現場勘查。
                </li>
                <li>
                    申請銀級評等之參與單位，若經審查後發現並未達到銀級門檻，但符合銅級門檻條件時，評等則給予銅級；若申請銅級者，經審查後發現未達到銅級門檻，但符合入圍門檻條件時，評等則轉為入圍資格。
                </li>
                <li>
                    確認獲取入圍、銅級或銀級評等之參與單位，將定期於低碳永續家園資訊網公布獲得評等等級名單。惟須注意，評等等級維持有效期限為三年，並須自主維運與管理執行成果。
                </li>
            </ul>
            <p>
                前述相關規定可參閱低碳永續家園認證評等推動計畫。
            </p>
            <div class="text-center">
                <img src="~/_x/img/如何參加評等.jpg" alt="如何參加評等" title="如何參加評等" />
                <p>
                    圖三、如何參加評等
                </p>
            </div>
            <p><a href="https://lcss.epa.gov.tw/default.aspx" target="_blank" title="另開視窗">低碳永續家園由此進</a></p> 
            
        </main>
        <div class="col-lg-2">    </div>
    </div>
</div>
@section styles {
    <style>
        h5 {
            font-weight: bold;
        }


        p {
            text-indent: 2em;
            font-size: 19px;
        }
        .font_b {
            font-size: 19px;
          
        }
        main img {
            width: 100%;
            max-width: 800px;
            border-radius: 8px;
     
        }
    </style>
}*@