@*@{
    string name = "減碳政策";
    @await Html.PartialAsync("_Nav1", name);
}


<div class="container-fluid">
    <div class="row">
        @{
            @await Html.PartialAsync("_Menu")
        }

        <main role="main" class="col-md-9 ml-sm-auto col-lg-8 pt-3 px-4">

            <h2 class="h2">減碳政策</h2>

            <h5>
                (一) 分層推動溫減管理
            </h5>
            <div class="text-center">
                <img class="mb-3 " style=" width:100%;max-width:745px ;border-radius:8px;" src="~/_x/img/分層推動溫減管理-01.jpg" alt="分層推動溫減管理" title="分層推動溫減管理" />
            </div>
            <p>
                明確劃分中央各部會在溫室氣體減量及能力建構推動事項上的權責分工，也包括總量管制、綠色金融與綠能產業、衝擊評析與科技研發、資訊擴散與獎勵補助、氣候人才培育與認知提升、法規檢視修訂、健全減緩財務機制等跨部會的八大政策配套，並訂定檢視各部門執行成效的評量指標，期能整合跨部會量能共同推動減碳工作。
            </p>
            <h5>
                (二) 教育宣導與獎勵
            </h5>
            <div class="text-center">
                <img class="mb-3 " style="width:100%; max-width:745px ;border-radius:8px;" src="~/_x/img/教育宣導與獎勵-01.jpg" alt="教育宣導與獎勵" title="教育宣導與獎勵" />
            </div>
            <p>
                溫管法規範與溫室氣體減量相關之教育宣導與獎勵，規定各級政府機關必須推動對於國民、學校及產業對全球氣候變遷之認知與減少溫室氣體排放進行宣導工作，並積極協助民間團體推展有關活動，除了各級政府機關之外，公立學校、公營事業機構及能源供應者也應共同宣導、推廣節約能源及使用低耗能高能源效率產品或服務，以減少溫室氣體的排放。
            </p>
      

        </main>
        <div class="col-lg-2"></div>
    </div>
</div>
@section styles {
    <style>
        h5 {
            font-weight: bold;
        }


        p {
            text-indent: 2em;
            font-size: 19px;
        }

        h6 {
            font-weight: bold
        }
   
    </style>
}*@