
@{
    ViewData["Title"] = "fileup";
}

<h2>fileup</h2>

@*<form method="post" enctype="multipart/form-data" asp-action="Upload" asp-controller="FileControl">
    <input  type="file" name="files"/>

<button type="submit"> submit</button>
</form>*@

