@model CreateModel
<div class="container">

    <div class="pt-4 align-content-center ">
        <div class="row">
      
            <div class="col col-md-12">
                <div class="bg-primary text-white text-center p-2"><h4>建立帳號</h4></div>
          <div asp-validation-summary=" All" class="text-danger"></div>
            <form asp-action="Create" method="post">
               @*帳號*@
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                @*使用者信箱*@
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                @*密碼*@
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                </div>
                @*確認密碼*@
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">建立</button>
                <a asp-action="Index" class="btn btn-secondary">取消</a>
            </form>
            </div>
        </div>
    </div>
</div>
